@import "./../../../../assets/scss/u-flex";

.notification-bar {
  border-radius: 4px;
  padding: 20px 25px;
  margin: 55px 0;

  &.notice {
    background: rgba(102, 173, 88, 0.1);
  }

  &.warning {
    background: rgba(238, 175, 75, 0.1);
  }

  .icon {
    padding-right: 25px;
  }
}
