<div class="main-container">
  <div class="thumb">
    <img src="assets/images/1.2.png" width="460">
  </div>
  <div class="form-container">
    <form novalidate [formGroup]="form" [class.no-wide]="isChanged">
      <h2>{{ isChanged ? 'Password changed' : 'Enter your new password'}}</h2>
      <h5>{{ isChanged ? 'Click the button return to sign in' : 'Please enter your new password'}}</h5>
      <div *ngIf="!isChanged" class="fieldset">
        <label>Password</label>
        <input formControlName="password" placeholder="****************" type="password" class="form-control">
        <app-form-validation-error [baseControl]="form.get('password')"></app-form-validation-error>
      </div>
      <div *ngIf="!isChanged" class="fieldset">
        <label>Confirm Password</label>
        <input formControlName="confirmPassword" placeholder="****************" type="password" class="form-control">
        <app-form-validation-error [baseControl]="[form.get('confirmPassword'), form]"></app-form-validation-error>
      </div>

      <div class="fieldset u-flex u-flex-justify--center u-flex-align-items--center" style="margin-top: 48px">
        <button *ngIf="!isChanged" mat-flat-button appDebounceClick (debounceClick)="onSubmit()" [disabled]="!form.dirty || form.invalid" color="primary">SUBMIT</button>
        <button mat-stroked-button  routerLink="/auth/login" color="primary">RETURN TO SIGN IN</button>
      </div>
    </form>
  </div>
</div>
