<div class="controls u-flex u-flex-justify--space-between" *ngIf="isSideBarOpen">
  <button class="sign-btn"
          mat-flat-button
          *ngIf="counterOffer.catcher === user.id"
          [disabled]="!counterOffer.allowDeny || counterOffer.isSigned"
          (click)="rejectCO()"
          color="primary">
    REJECT
  </button>

  <button class="sign-btn"
          mat-flat-button
          *ngIf="counterOffer.catcher === user.id"
          [disabled]="counterOffer.isSigned"
          (click)="createCO(counterOffer.offerType)"
          color="primary">
    COUNTER OFFER
  </button>
</div>
