@import '~@angular/material/theming';
@import "mixins";


html, body { height: 100%; min-height: 100%; }
body { margin: 0; font-family: SFUIDisplay, Roboto, "Helvetica Neue", sans-serif; }
* {outline: none;}

button {height: 45px;}
h2 {font-size: 36px;}

.fc {
  color: #444c5c;
  .fc-event {
    cursor: default;
  }

  .fc-toolbar.fc-header-toolbar {
    button {
      &.fc-button-primary {
        font-size: 11px;
        font-weight: 600;
        padding: 0 15px;
        color: white;
        letter-spacing: 0.77px;
        text-transform: uppercase;
        text-align: center;
        background-color: mat-color($mat-light-blue, 700, 0.9);
        border-color: mat-color($mat-light-blue, 700, 0.9);

        &:not(disabled).fc-button-active {
          background-color: mat-color($mat-light-blue, 800, 0.95);
          border-color: mat-color($mat-light-blue, 800, 0.95);
        }

        &:focus { box-shadow: none; }
      }
    }
  }
}

.truncated {
  @include mat-truncate-line();
}

.mat-ink-bar {
  background: #66AD58;
  height: 3px !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
