// Import material theming functions
@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-green, 600);
$app-accent: mat-palette($mat-light-blue);
$app-warn: mat-palette($mat-red);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$primary-text: #444C5D;
$header-height: 74px;

// Theme colors
$green: #66ad58;
$yellow: #f8ce5f;
$orange: #f89949;
$red: #cd584a;
$violet: #9b63cd;
$turquoise: #40cd91;
$blue: rgba(2, 136, 209, 0.9);
$grey: rgba(0, 0, 0, .12);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);


/**
Fonts
*/
// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'SFUIDisplay',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(14px, 24px, 500)
);


// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// Override the typography in the core CSS.
@include mat-core($custom-typography);


/**
Override material
*/


snack-bar-container {
  /** Extra CSS classes to be added to the snack bar container. */
  &.error-bar {
    background: #c85578 !important;

    .mat-button-wrapper {
      color: white !important;
    }
  }
  &.mat-snack-bar-top {
    margin-top: 4px;
  }
}

.common-grid {
  width: 80%;
  max-height: 600px;
  margin: 0 10%;
  overflow: auto;
  table {
    width: 100%;
    .mat-header-cell {
      font-size: 10px;
      font-weight: 600;
      letter-spacing: 0.7px;
      color: #444c5c;
      text-transform: uppercase;
    }
    .mat-row {
      height: 76px;

      .mat-cell {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: normal;
        color: #444c5c;
        &:first-of-type{
        }
      }
    }
  }
}
