<div class="main-container">
  <div class="thumb">
    <img src="https://dummyimage.com/460x800">
  </div>
  <div class="auth-container">
    <form novalidate [formGroup]="form">
      <h2>Get started with new ListingX account.</h2>
      <h5>Already have an account? Please&nbsp;<span routerLink="../login" class="router-link">Sign in</span></h5>
      <div class="fieldset">
        <label>First Name</label>
        <input formControlName="firstName" placeholder="Your first name" class="form-control">
        <app-form-validation-error [formControl]="form.get('firstName')"></app-form-validation-error>
      </div>

      <div class="fieldset">
        <label>last name</label>
        <input formControlName="lastName" placeholder="Your last name" class="form-control">
        <app-form-validation-error [formControl]="form.get('lastName')"></app-form-validation-error>
      </div>

      <div class="fieldset">
        <label>E-mail</label>
        <input formControlName="email" placeholder="example@mail.com" class="form-control">
        <app-form-validation-error [formControl]="form.get('email')"></app-form-validation-error>
      </div>

      <div class="fieldset">
        <label>Password</label>
        <input formControlName="password" type="password" placeholder="****************" class="form-control">
        <app-form-validation-error [formControl]="form.get('password')"></app-form-validation-error>
      </div>

      <div class="fieldset">
        <label>Confirm Password</label>
        <input formControlName="confirmPassword" type="password" placeholder="****************" class="form-control">
        <app-form-validation-error [formControl]="form.get('confirmPassword')"></app-form-validation-error>
        <app-form-validation-error [formControl]="form"></app-form-validation-error>
      </div>

      <div class="u-flex u-flex-justify--space-between" style="margin-top: 48px">
        <button mat-flat-button
                [disabled]="!form.dirty || form.invalid"
                (click)="onSubmit()"
                color="primary">
          REGISTRATION
        </button>
        <p class="description">By clicking "Registration" I agree to ListingX
          <span class="router-link">Terms of Service</span> and
          <span class="router-link">Privacy Policy.</span>
        </p>
      </div>
    </form>
  </div>
</div>
