<div class="main-container">
  <div class="thumb">
    <img src="assets/images/1.3.png" width="460">
  </div>
  <div class="form-container u-flex-justify--center">
    <form novalidate [formGroup]="form" *ngIf="!isActivated">
      <h2>Get started with new ListingX account.</h2>
      <h5>Already have an account? Please&nbsp;<span routerLink="../login" class="router-link">Sign in</span></h5>
      <div class="fieldset">
        <label>First Name</label>
        <input formControlName="firstName"  placeholder="Your first name" spellcheck="false" class="form-control">
        <app-form-validation-error [baseControl]="form.get('firstName')"></app-form-validation-error>
      </div>

      <div class="fieldset">
        <label>last name</label>
        <input formControlName="lastName" placeholder="Your last name" spellcheck="false" class="form-control">
        <app-form-validation-error [baseControl]="form.get('lastName')"></app-form-validation-error>
      </div>

      <div class="fieldset">
        <label>E-mail</label>
        <input formControlName="email" placeholder="example@mail.com" spellcheck="false" class="form-control">
        <app-form-validation-error [baseControl]="form.get('email')"></app-form-validation-error>
      </div>

      <div class="fieldset">
        <label>Password</label>
        <input formControlName="password" type="password" placeholder="****************" spellcheck="false" class="form-control">
        <app-form-validation-error [baseControl]="form.get('password')"></app-form-validation-error>
      </div>

      <div class="fieldset">
        <label>Confirm Password</label>
        <input formControlName="confirmPassword" type="password" placeholder="****************" spellcheck="false" class="form-control">
        <app-form-validation-error [baseControl]="form.get('confirmPassword')"></app-form-validation-error>
        <app-form-validation-error [baseControl]="form"></app-form-validation-error>
      </div>

      <div class="u-flex u-flex-justify--space-between" style="margin-top: 48px">
        <button mat-flat-button
                [disabled]="!form.dirty || form.invalid"
                (click)="onSubmit()"
                color="primary">
          REGISTRATION
        </button>
        <p class="description">By clicking "Registration" I agree to ListingX
          <span class="router-link">Terms of Service</span> and
          <span class="router-link">Privacy Policy.</span>
        </p>
      </div>
    </form>

    <ng-container *ngIf="isActivated">
      <form [formGroup]="form">
        <h2>Thanks for registration!</h2>
        <h5>We sent you the instructions on your mailbox {{ form.get('email').value }}
          Click the button below you didn’t receive the email.</h5>


        <div class="fieldset u-flex u-flex-justify--space-between u-flex-align-items" style="margin-top: 48px">
          <button mat-flat-button
                  (click)="onResendEmail()"
                  color="primary">
            RESEND THE EMAIL
          </button>
          <button mat-stroked-button
                  routerLink="/auth/login"
                  color="primary">
            RETURN TO SIGN IN
          </button>
        </div>
      </form>
    </ng-container>
  </div>
</div>
