<app-base-template [state]="'purchase'">
  <div class="summary u-flex u-flex-direction--column u-flex-align-items--center">

    <div class="title">Offer Summary</div>

    <div class="final-information u-flex u-flex-justify--space-between">

      <div class="block offer-information">
        <div class="row-layout header-section">
          <label class="header">Offer information</label>
          <span routerLink="/portal/purchase-agreement/{{offer?.id}}/step-one" class="link">Edit</span>
        </div>
        <div class="row-layout" *ngFor="let item of offer?.buyers; let i = index">
          <label>buyer #{{ i + 1 }}</label>
          <span>{{ item.firstName }} {{ item.lastName }} | {{ item.email }}</span>
        </div>
        <div class="row-layout" *ngFor="let item of offer?.sellers; let i = index">
          <label>seller #{{ i + 1 }}</label>
          <span>{{ item.firstName }} {{ item.lastName }} | {{ item.email }}</span>
        </div>
        <div class="row-layout" *ngFor="let item of offer?.agentBuyers; let i = index">
          <label>agent buyer #{{ i + 1 }}</label>
          <span>{{ item.firstName }} {{ item.lastName }} | {{ item.email }}</span>
        </div>
        <div class="row-layout" *ngFor="let item of offer?.agentSellers; let i = index">
          <label>agent seller #{{ i + 1 }}</label>
          <span>{{ item.firstName }} {{ item.lastName }} | {{ item.email }}</span>
        </div>
        <div class="row-layout" *ngIf="offer?.streetName">
          <label>address</label>
          <span>{{ offer?.streetName }}, {{ offer?.city }}, {{ offer?.state }} {{ offer?.zip }}</span>
        </div>
        <div class="row-layout" *ngIf="offer?.price">
          <label>offer info</label>
          <span>${{ offer?.price | number }}<span *ngIf="offer?.closeEscrowDays"> | {{ offer?.closeEscrowDays }} Days to close escrow</span></span>
        </div>
      </div>

      <div class="block supporting-docs">
        <div class="row-layout header-section">
          <label class="header" style="min-width: 190px;">Supporting docs</label>
          <span routerLink="/portal/purchase-agreement/{{offer?.id}}/step-three" class="link">Edit</span>
        </div>
        <div class="row-layout" *ngIf="offer?.documents?.preApproval.length">
          <label>Add Pre-approval Letter</label>
          <div class="doc-preview">
            <img *ngFor="let img of offer?.documents?.preApproval"
                 src="assets/images/icons/{{ img.extension }}.svg"
                 [title]="img.title" height="20">
          </div>
        </div>
        <div class="row-layout" *ngIf="offer?.documents?.proofOfFunds.length">
          <label>Add Proof of Funds</label>
          <div class="doc-preview">
            <div class="doc-preview">
              <img *ngFor="let img of offer?.documents?.proofOfFunds"
                   src="assets/images/icons/{{ img.extension }}.svg"
                   [title]="img.title" height="20">
            </div>
          </div>
        </div>
        <div class="row-layout" *ngIf="offer?.documents?.coverLetter.length">
          <label>Add Cover Letter</label>
          <div class="doc-preview">
            <div class="doc-preview">
              <img *ngFor="let img of offer?.documents?.coverLetter"
                   src="assets/images/icons/{{ img.extension }}.svg"
                   [title]="img.title" height="20">
            </div>
          </div>
        </div>
      </div>

      <div class="block payment-information">
        <div class="row-layout header-section">
          <label class="header">payment information</label>
          <span routerLink="/portal/purchase-agreement/{{offer?.id}}/step-two" class="link">Edit</span>
        </div>
        <div class="row-layout" *ngIf="offerSummary?.deposit">
          <label>Initial deposit</label>
          <span>${{ offerSummary?.deposit | number }}</span>
        </div>
        <div class="row-layout" *ngIf="offerSummary?.loan">
          <label>Loan amount</label>
          <span>${{ offerSummary?.loan | number }}</span>
        </div>
        <div class="row-layout" *ngIf="offerSummary?.loan">
          <label>Interest rate</label>
          <span>${{ offerSummary?.loan | number }}</span>
        </div>
        <div class="row-layout" *ngIf="offerSummary?.loan">
          <label>Points</label>
          <span>${{ offerSummary?.loan | number }}</span>
        </div>
        <div class="row-layout" *ngIf="offer?.loanType">
          <label>variation</label><span class="bold">{{ offer?.loanType }}</span>
        </div>
        <div class="row-layout" *ngIf="offerSummary?.downPayment">
          <label>down payment</label><span>${{ offerSummary?.downPayment | number }}</span>
        </div>
        <div class="row-layout" *ngIf="offer?.anySpecialFinancialTerms">
          <label>special financing terms</label><span>{{ offer?.anySpecialFinancialTerms }}</span>
        </div>
      </div>

    </div>

    <button mat-flat-button appDebounceClick
            (debounceClick)="saveOffer()"
            class="save-btn">
      DONE
    </button>

  </div>
</app-base-template>
