<app-base-template [state]="'offer'" (close)="closeOffer()">
  <div class="summary u-flex u-flex-direction--column u-flex-align-items--center">

    <div class="title">Offer Summary</div>

    <div class="final-information u-flex u-flex-justify--space-between">

      <div class="block offer-information">
        <div class="row-layout header-section">
          <label class="header">Offer information</label>
          <span routerLink="/portal/purchase-agreements/{{offer?.id}}/step-one" class="link">Edit</span>
        </div>
        <div class="row-layout" *ngFor="let item of offer?.buyers; let i = index">
          <label>buyer #{{ i + 1 }}</label>
          <span>{{ item.firstName }} {{ item.lastName }} | {{ item.email }}</span>
        </div>
        <div class="row-layout" *ngFor="let item of offer?.agentBuyers; let i = index">
          <label>agent buyer #{{ i + 1 }}</label>
          <span>{{ item.firstName }} {{ item.lastName }} | {{ item.email }}</span>
        </div>
        <div class="row-layout" *ngFor="let item of offer?.sellers; let i = index">
          <label>seller #{{ i + 1 }}</label>
          <span>{{ item.firstName }} {{ item.lastName }} | {{ item.email }}</span>
        </div>
        <div class="row-layout" *ngFor="let item of offer?.agentSellers; let i = index">
          <label>agent seller #{{ i + 1 }}</label>
          <span>{{ item.firstName }} {{ item.lastName }} | {{ item.email }}</span>
        </div>
        <div class="row-layout" *ngIf="offer?.streetName">
          <label>address</label>
          <span>{{ offer?.streetName }}, {{ offer?.city }}, {{ offer?.state }} {{ offer?.zip }}</span>
        </div>
        <div class="row-layout">
          <label>offer info</label>
          <span>{{(offerSummary?.price || 0) | currency }}<span> | {{ offerSummary?.closeOfEscrow || 0 }} Day<span *ngIf="offerSummary?.closeOfEscrow !== 1">s</span> to close escrow</span></span>
        </div>
      </div>

      <div class="block supporting-docs">
        <div class="row-layout header-section">
          <label class="header" style="min-width: 190px;">Supporting docs</label>
          <span routerLink="/portal/purchase-agreements/{{offer?.id}}/step-three" class="link">Edit</span>
        </div>
        <div class="row-layout" *ngIf="offer?.documents?.preApproval.length">
          <label>Add Pre-approval Letter</label>
          <div class="doc-preview">
            <ng-container *ngFor="let img of offer?.documents?.preApproval; let i = index;">
              <img *ngIf="i < 5"
                   src="assets/images/icons/{{ img.extension }}.svg"
                   [title]="img.title" height="20">
            </ng-container>
            <div class="more-label" *ngIf="offer?.documents?.preApproval.length > 5">(+{{offer?.documents?.preApproval.length - 5}} more)</div>
          </div>
        </div>
        <div class="row-layout" *ngIf="offer?.documents?.proofOfFunds.length">
          <label>Add Proof of Funds</label>
          <div class="doc-preview">
            <ng-container *ngFor="let img of offer?.documents?.proofOfFunds; let i = index;">
              <img *ngIf="i < 5"
                   src="assets/images/icons/{{ img.extension }}.svg"
                   [title]="img.title" height="20">
            </ng-container>
            <div class="more-label" *ngIf="offer?.documents?.proofOfFunds.length > 5">(+{{offer?.documents?.proofOfFunds.length - 5}} more)</div>
          </div>
        </div>
        <div class="row-layout" *ngIf="offer?.documents?.coverLetter.length">
          <label>Add Cover Letter</label>
          <div class="doc-preview">
            <ng-container *ngFor="let img of offer?.documents?.coverLetter; let i = index;">
              <img *ngIf="i < 5"
                   src="assets/images/icons/{{ img.extension }}.svg"
                   [title]="img.title" height="20">
            </ng-container>
            <div class="more-label" *ngIf="offer?.documents?.coverLetter.length > 5">(+{{offer?.documents?.coverLetter.length - 5}} more)</div>
          </div>
        </div>
      </div>

      <div class="block payment-information">
        <div class="row-layout header-section">
          <label class="header">payment information</label>
          <span routerLink="/portal/purchase-agreements/{{offer?.id}}/step-two" class="link">Edit</span>
        </div>
        <div class="row-layout" *ngIf="offerSummary?.deposit">
          <label>Initial deposit</label>
          <span>{{ offerSummary?.deposit | currency }}</span>
        </div>
        <div class="row-layout" *ngIf="offerSummary?.loan">
          <label>Loan amount</label>
          <span>{{ offerSummary?.loan | currency }}</span>
        </div>
        <div class="row-layout" *ngIf="offerSummary?.interestRate">
          <label>Interest rate</label>
          <span>{{ offerSummary?.interestRate }}</span>
        </div>
        <div class="row-layout" *ngIf="offerSummary?.points">
          <label>Points</label>
          <span>{{ offerSummary?.points }}</span>
        </div>
        <div class="row-layout" *ngIf="offer?.loanType">
          <label>variation</label><span class="bold">{{ offer?.loanType }}</span>
        </div>
        <div class="row-layout" *ngIf="offerSummary?.downPayment">
          <label>down payment</label><span>{{ offerSummary?.downPayment | currency }}</span>
        </div>
      </div>

    </div>

    <button mat-flat-button appDebounceClick
            (debounceClick)="saveOffer()"
            class="save-btn">
      {{offer?.isSigned ? 'DONE' : 'READY TO SIGN'}}
    </button>

  </div>
</app-base-template>
