@import "~src/assets/agreement/css/LX-RPA-Short";
@import "~src/assets/agreement/css/pdf-media";
@import "~src/assets/scss/theming";
@import "~src/assets/scss/mixins";

.viewer-container {
  position: relative;
  height: calc(100% - #{$header-height});

  .viewer {
    overflow: hidden;

    .doc-container {
      overflow-y: auto;
      min-height: 100%;
      height: auto;
      margin: -200px -100px;
      padding: 64px 144px 64px 84px;

      form {
        overflow-y: auto;

        .container {
          padding-bottom: 184px;
          transform: scale(0.8);
        }

        .page-breaker {
          text-align: center;
          margin: -230px 0 0;

          &:last-child {
            margin-bottom: 300px;
          }
        }

        .form {
          &.final-signatures {
            .row {
              display: flex;
            }

            .sign-input {
              width: 20%;

              &:last-child {
                padding-right: 20px;
              }
            }

            .sign-date {
              width: 20%;
            }
          }
        }

        input {
          &.ng-invalid {
            background-color: rgba(200, 85, 120, 0.25);
            border-bottom: solid 2px #c85578;
          }
        }

        .signed {
          border-bottom: solid 2px #66AD58;
          background-color: rgba(102, 173, 88, 0.3);
        }

        .sign-button {
          position: absolute;
          cursor: pointer;
          background: #66AD58;
          border-radius: 4px;
          width: 100px;
          min-width: 100px;
          height: 50px;
          border: none;

          color: #ffffff;
          font-size: 20px;

          &:active {
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
          }

          z-index: 1;
        }
      }
    }
  }

  .offer-information {
    position: relative;

    h4 {
      margin: 15px 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      width: 100%;
      text-align: left;
      color: $primary-text;
    }

    .roles-list {
      max-height: 35vh;
      overflow: auto;
      width: 100%;
    }

    .edit-btn {
      //margin-top: 42px;
      margin: 22px 0 30px;
      width: 95px;
      min-width: 95px;
      height: 40px;
      border: 1px solid #419BDF;
      box-sizing: border-box;
      border-radius: 4px;

      font-family: 'SFUIDisplay', Roboto, "Helvetica Neue", sans-serif;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.07em;
      text-decoration-line: underline;
      text-transform: uppercase;

      color: #419BDF;

      .text {
        font-weight: bold;
        letter-spacing: 0.07em;
      }
    }

    h6 {
      margin: 20px 0 5px;
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;

      letter-spacing: 0.232143px;
      text-transform: uppercase;
      width: 100%;
      text-align: left;

      color: #B0B7BD;
    }

    .item {
      font-size: 13px;
      line-height: 16px;
      width: 100%;
      text-align: left;
      letter-spacing: 0.25px;
      display: inline;

      color: #444C5C;
    }
  }
}

.loading {
  position: fixed;
  z-index: 1;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(176, 183, 189, 0.5);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: $violet;
  color: $violet;
}
