<div class="offer-information u-flex u-flex-direction--column u-flex-justify--start u-flex-align-items--start" *ngIf="show">

  <h4>Counter Offer information</h4>

  <h6>status: {{counterOffer?.status}}</h6>

  <div class="roles-list">
    <div class="agents truncated" *ngFor="let item of counterOffer?.pitchers; let i = index">
      <h6>{{role?.pitchers}} #{{i+1}}</h6>
      <div class="item">
        {{item.firstName}} {{item.lastName}} | {{item.email}}
      </div>
    </div>
    <div class="agents truncated" *ngFor="let item of counterOffer?.pitcherCustomers; let i = index">
      <h6>{{role?.pitcherCustomers}} #{{i+1}}</h6>
      <div class="item">
        {{item.firstName}} {{item.lastName}} | {{item.email}}
      </div>
    </div>
    <div class="buyers truncated" *ngFor="let item of counterOffer?.catchers; let i = index">
      <h6>{{role?.catchers}} #{{i+1}}</h6>
      <div class="item">
        {{item.firstName}} {{item.lastName}} | {{item.email}}
      </div>
    </div>
    <div class="sellers truncated" *ngFor="let item of counterOffer?.catcherCustomers; let i = index">
      <h6>{{role?.catcherCustomers}} #{{i+1}}</h6>
      <div class="item">
        {{item.firstName}} {{item.lastName}} | {{item.email}}
      </div>
    </div>
    <!--<div class="address truncated">-->
    <!--<h6>Address</h6>-->
    <!--<div class="item">-->
    <!--{{offer.streetName}}, {{offer.city}} {{offer.zip}}-->
    <!--</div>-->
    <!--</div>-->
  </div>

</div>
