<div class="main-container">
  <div class="thumb">
    <img src="assets/images/1.5.png" width="460">
  </div>
  <div class="form-container">
    <form novalidate [formGroup]="form">
      <h2>Reset your password</h2>
      <h5>Fear not. We'll email you instructions to reset your password.</h5>
      <div class="fieldset">
        <label>E-MAIL</label>
        <input formControlName="email" placeholder="example@mail.com" spellcheck="false" class="form-control">
        <app-form-validation-error [baseControl]="form.get('email')"></app-form-validation-error>
      </div>

      <div class="fieldset u-flex u-flex-justify--space-between u-flex-align-items" style="margin-top: 48px">
        <button mat-flat-button appDebounceClick (debounceClick)="onSubmit()" [disabled]="!form.dirty || form.invalid" color="primary">RESET PASSWORD</button>
        <button mat-stroked-button  routerLink="/auth/login" color="primary">RETURN TO SIGN IN</button>
      </div>
    </form>
  </div>
</div>
