<app-base-template>
  <router-outlet></router-outlet>
  <ng-container *ngIf="transaction">
    <div class="toolbar">
      <div class="toolbar-content">
        <div class="back-btn" routerLink="/portal"><mat-icon fontSet="fa" fontIcon="fa-chevron-left"></mat-icon>Back</div>
        <div class="u-flex u-flex-align-items--center u-flex-justify--space-between">
          <div class="header">{{ transaction.offer.streetName }}, {{ transaction.offer.city }}, {{ transaction.offer.state }} {{ transaction.offer.zip }}</div>
          <div>
            <span class="status-label">STATUS: </span>
            <span [ngClass]="getClassName(transaction.status)" class="status">&nbsp;{{ transaction.status }}</span>
          </div>
        </div>
        <div class="description"> Offer created: {{ transaction.createdAt | date : 'short' }}
          <span *ngIf="transaction.offer.remainingDaysCloseEscrow">({{ transaction.offer.remainingDaysCloseEscrow }} days until  close escrow)</span>
        </div>
        <div class="control-bar" *ngIf="isModerator">
          <div class="u-flex-1">
            <button *ngIf="transaction.allowEdit" mat-icon-button color="accent" routerLink="/portal/offer/{{ transaction.offer.id }}">
              <mat-icon fontSet="fa" fontIcon="fa-edit" class="icon"></mat-icon>
            </button>
            <button *ngIf="transaction.allowDelete" mat-icon-button color="accent" (click)="onDelete()">
              <mat-icon fontSet="fa" fontIcon="fa-trash-alt" class="icon"></mat-icon>
            </button>
          </div>
          <button mat-flat-button
                  cdkOverlayOrigin
                  [disabled]="!transaction.allowInvite"
                  #trigger="cdkOverlayOrigin"
                  (click)="isOpenInviteUserOverlay = !isOpenInviteUserOverlay"
                  color="primary">
            INVITE MODERATORS
          </button>
          <ng-template cdkConnectedOverlay
            [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayOffsetY]="3"
            [cdkConnectedOverlayOpen]="isOpenInviteUserOverlay">
              <div role="dialog" class="invite-user-dialog">
                <input [formControl]="userEmailControl" class="u-flex-1" spellcheck="false">
                <button mat-icon-button [disabled]="userEmailControl.invalid" (click)="inviteUser()">
                  <mat-icon fontSet="fa" fontIcon="fa-envelope-open-text"></mat-icon>
                </button>
              </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="u-flex u-flex-justify--center">
      <div class="column-layout">
        <div class="row-layout"><label class="header">Offer information</label></div>
        <div class="row-layout" *ngFor="let item of transaction.offer.moderatorBuyers; let i = index"><label>moderator buyer #{{ i + 1 }}</label><span><b>{{ item.firstName }} {{ item.lastName }}</b> | {{ item.email }}</span></div>
        <div class="row-layout" *ngFor="let item of transaction.offer.moderatorSellers; let i = index"><label>moderator seller #{{ i + 1 }}</label><span><b>{{ item.firstName }} {{ item.lastName }}</b> | {{ item.email }}</span></div>
        <div class="row-layout" *ngFor="let item of transaction.offer.buyers; let i = index"><label>buyer #{{ i + 1 }}</label><span><b>{{ item.firstName }} {{ item.lastName }}</b> | {{ item.email }}</span></div>
        <div class="row-layout" *ngFor="let item of transaction.offer.sellers; let i = index"><label>seller #{{ i + 1 }}</label><span><b>{{ item.firstName }} {{ item.lastName }}</b> | {{ item.email }}</span></div>
        <div class="row-layout"><label>address</label><span>{{ transaction.offer.streetName }}, {{ transaction.offer.city }}, {{ transaction.offer.state }} {{ transaction.offer.zip }}</span></div>
        <div class="row-layout"><label>offer info</label>
          <span>${{ transaction.offer.price | number }}
            <ng-container *ngIf="transaction.offer.closeEscrowDays">&nbsp;|&nbsp;{{ transaction.offer.closeEscrowDays }} Days to close escrow</ng-container>
          </span>
        </div>
      </div>
      <div class="column-layout">
        <div class="row-layout"><label class="header">last activity</label></div>
        <div class="scroll-content">
          <div class="row-layout" *ngFor="let item of transaction.lastLogs">
            <label>{{ item.createdAt | date: 'short' }}</label>
            <span>{{ item.title }}</span>
          </div>
        </div>
       <!-- <div class="row-layout" style="position: relative;"><label class="header">offer</label>
          <img *ngIf="transaction.urlDocument"
            src="assets/images/icons/pdf.svg"
            (click)="downloadAndToggleState(transaction.urlDocument)"
            [title]="transaction.urlDocument"
            height="80"
            class="e-document">
        </div>
        <div class="row-layout" style="opacity: .0"><label></label><span>Signed by buyer 1 Lopushynsky</span></div>
        <div class="row-layout" style="opacity: .0"><label></label><span>Signed by seller 1 Serhii Movchan</span></div>
        <div class="row-layout" style="opacity: .0"><label></label><span>Hasn’t been signed by all buyers</span></div>
        <div class="row-layout u-flex-justify&#45;&#45;start">
          <button  mat-flat-button [disabled]="!transaction.allowDeny" (click)="deny()" color="accent" style="margin: 0 15px 0 220px">DENY</button>
          <button  mat-flat-button [disabled]="!transaction.allowSign" (click)="goToESign()" color="primary">SIGN</button>
        </div>-->
      </div>
    </div>


    <div class="u-flex u-flex-justify--start">
      <div class="column-layout fullwidth">
        <div class="row-layout new-section"><label class="header">Completed documents</label></div>

        <div class="row-layout new-section">
          <label class="header">Documents pending approval</label>
          <button *ngIf="isModerator" mat-flat-button type="button" color="primary" disabled class="button-sm">ADD DOCUMENT</button>
        </div>

        <div class="row-layout doc-item" *ngFor="let doc of pendingDocuments; let i = index;">
          <label>document #{{i + 1}}</label>
          <div class="doc-title"><img src="assets/images/icons/{{ doc.extension }}.svg" [title]="doc.title" height="20"> {{doc.title}}.{{doc.extension}}</div>
          <div class="doc-events"></div>
          <div class="doc-status">Status: <strong [ngClass]="doc.status">{{doc.status}}</strong></div>
          <div class="doc-actions">Actions:
            <button class="button-xs" type="button" mat-flat-button color="primary" disabled>SIGN</button>
            <svg class="menu-trigger" [matMenuTriggerFor]="menu" width="22" height="6" viewBox="0 0 22 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.61905 0.380951C1.1749 0.380951 0 1.55586 0 3C0 4.44414 1.1749 5.61905 2.61905 5.61905C4.06319 5.61905 5.2381 4.44414 5.2381 3C5.2381 1.55586 4.06319 0.380951 2.61905 0.380951Z" fill="#419BDF"/>
              <path d="M10.9999 0.380951C9.55576 0.380951 8.38086 1.55586 8.38086 3C8.38086 4.44414 9.55576 5.61905 10.9999 5.61905C12.444 5.61905 13.619 4.44414 13.619 3C13.619 1.55586 12.444 0.380951 10.9999 0.380951Z" fill="#419BDF"/>
              <path d="M19.3808 0.380951C17.9366 0.380951 16.7617 1.55586 16.7617 3C16.7617 4.44414 17.9366 5.61905 19.3808 5.61905C20.8249 5.61905 21.9998 4.44414 21.9998 3C21.9998 1.55586 20.8249 0.380951 19.3808 0.380951Z" fill="#419BDF"/>
            </svg>

            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="triggerDownloadFile(doc.file)">View</button>
              <button mat-menu-item (click)="triggerDownloadFile(doc.file)">Download</button>
              <button mat-menu-item disabled>Deny</button>
            </mat-menu>
          </div>
        </div>

        <div class="row-layout new-section"><label class="header">Attached docs</label></div>
        <div class="row-layout"><label>Add Pre-approval Letter</label>
          <div class="doc-preview">
            <img *ngFor="let img of transaction.offer.documents?.preApproval"
                 src="assets/images/icons/{{ img.extension }}.svg"
                 [title]="img.title"
                 (click)="triggerDownloadFile(img)"
                 height="20">
          </div>
        </div>
        <div class="row-layout"><label>Add Proof of Funds</label><div class="doc-preview">
          <div class="doc-preview"><img *ngFor="let img of transaction.offer.documents?.proofOfFunds"
                                        src="assets/images/icons/{{ img.extension }}.svg"
                                        (click)="triggerDownloadFile(img)"
                                        [title]="img.title" height="20"></div>
        </div></div>
        <div class="row-layout"><label>Add Cover Letter</label><div class="doc-preview">
          <div class="doc-preview"><img *ngFor="let img of transaction.offer.documents?.coverLetter"
                                        src="assets/images/icons/{{ img.extension }}.svg"
                                        (click)="triggerDownloadFile(img)"
                                        [title]="img.title"
                                        height="20"></div>
        </div></div>
      </div>
    </div>


    <div class="upload-container">
      <h4>Add new files</h4>

      <button mat-flat-button color="accent" [routerLink]="['upload']">Upload new doc</button>
      <small>Maximum upload file size: 3MB. Download format: .doc .pdf</small>
    </div>

    <div class="calendar-container">
      <h2 class="u-flex u-flex-justify--center">Calendar</h2>
      <lis-calendar [dataSource]="calendarDataSource" [defaultView]="CalendarView.Week"></lis-calendar>
    </div>
  </ng-container>
</app-base-template>
