<app-base-template>
  <ng-container *ngIf="transaction">
    <div class="toolbar">
      <div class="toolbar-content">
        <div class="back-btn" routerLink="/portal"><mat-icon fontSet="fa" fontIcon="fa-chevron-left"></mat-icon>Back</div>
        <div class="u-flex u-flex-align-items--center u-flex-justify--space-between">
          <div class="header">{{ transaction.offer.streetName }}, {{ transaction.offer.city }}, {{ transaction.offer.state }} {{ transaction.offer.zip }}</div>
          <div>
            <span class="status-label">STATUS: </span>
            <span [ngClass]="getClassName(transaction.status)" class="status">&nbsp;{{ transaction.status }}</span>
          </div>
        </div>
        <div class="description"> Offer created: {{ transaction.createdAt | date : 'short' }} ({{ transaction.offer.remainingDaysCloseEscrow }} days until  close escrow)</div>
        <div class="control-bar">
          <div class="u-flex-1">
            <button *ngIf="transaction.allowEdit" mat-icon-button color="accent" routerLink="/portal/offer/{{ transaction.offer.id }}">
              <mat-icon fontSet="fa" fontIcon="fa-edit" class="icon"></mat-icon>
            </button>
            <button *ngIf="transaction.allowDelete" mat-icon-button color="accent" (click)="onDelete()">
              <mat-icon fontSet="fa" fontIcon="fa-trash-alt" class="icon"></mat-icon>
            </button>
          </div>
          <button mat-flat-button
                  cdkOverlayOrigin
                  [disabled]="true"
                  #trigger="cdkOverlayOrigin"
                  (click)="isOpenInviteUserOverlay = !isOpenInviteUserOverlay"
                  color="primary">
            INVITE USERS
          </button>
          <ng-template cdkConnectedOverlay
            [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayOffsetY]="3"
            [cdkConnectedOverlayOpen]="isOpenInviteUserOverlay">
              <div role="dialog" class="invite-user-dialog">
                <input [formControl]="userEmailControl" class="u-flex-1" spellcheck="false">
                <button mat-icon-button [disabled]="userEmailControl.invalid" (click)="inviteUser()">
                  <mat-icon fontSet="fa" fontIcon="fa-envelope-open-text"></mat-icon>
                </button>
              </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="u-flex u-flex-justify--center">
      <div class="column-layout">
        <div class="row-layout"><label class="header">Offer information</label></div>
        <div class="row-layout" *ngFor="let item of transaction.offer.buyers; let i = index"><label>buyer #{{ i + 1 }}</label><span>{{ item.firstName }} {{ item.lastName }} | {{ item.email }}</span></div>
        <div class="row-layout" *ngFor="let item of transaction.offer.sellers; let i = index"><label>seller #{{ i + 1 }}</label><span>{{ item.firstName }} {{ item.lastName }} | {{ item.email }}</span></div>
        <div class="row-layout"><label>address</label><span>{{ transaction.offer.streetName }}, {{ transaction.offer.city }}, {{ transaction.offer.state }} {{ transaction.offer.zip }}</span></div>
        <div class="row-layout"><label>offer info</label><span>${{ transaction.offer.price | number }} | {{ transaction.offer.closeEscrowDays }} Days to close escrow</span></div>

        <div class="row-layout"><label class="header">Supporting docs</label></div>
        <div class="row-layout"><label>Add Pre-approval Letter</label>
          <div class="doc-preview"><img *ngFor="let img of transaction.offer.documents?.preApproval" src="assets/images/icons/{{ img.extension }}.svg" [title]="img.title" height="20"></div>
        </div>
        <div class="row-layout"><label>Add Proof of Funds</label><div class="doc-preview">
          <div class="doc-preview"><img *ngFor="let img of transaction.offer.documents?.proofOfFunds" src="assets/images/icons/{{ img.extension }}.svg" [title]="img.title" height="20"></div>
        </div></div>
        <div class="row-layout"><label>Add Cover Letter</label><div class="doc-preview">
          <div class="doc-preview"><img *ngFor="let img of transaction.offer.documents?.coverLetter" src="assets/images/icons/{{ img.extension }}.svg" [title]="img.title" height="20"></div>
        </div></div>
      </div>
      <div class="column-layout">
        <div class="row-layout"><label class="header">last activity</label></div>
        <div class="scroll-content">
          <div class="row-layout" *ngFor="let item of transaction.lastLogs">
            <label>{{ item.createdAt | date: 'short' }}</label>
            <span>{{ item.title }}</span>
          </div>
        </div>
        <div class="row-layout" style="opacity: .5"><label class="header">offer</label></div>
        <div class="row-layout" style="opacity: .5"><label></label><span>Signed by buyer 1 Lopushynsky</span></div>
        <div class="row-layout" style="opacity: .5"><label></label><span>Signed by seller 1 Serhii Movchan</span></div>
        <div class="row-layout" style="opacity: .5"><label></label><span>Hasn’t been signed by all buyers</span></div>
        <div class="row-layout u-flex-justify--start" style="opacity: .5">
          <button mat-flat-button color="accent" style="margin: 0 15px 0 220px">DENY</button>
          <button mat-flat-button color="primary">SIGN</button>
        </div>
      </div>
    </div>

    <div class="calendar-container">
      <h2 class="u-flex u-flex-justify--center">Calendar</h2>
      <lis-calendar [dataSource]="calendarDataSource" [defaultView]="CalendarView.Week"></lis-calendar>
    </div>
  </ng-container>
</app-base-template>
