<app-base-template>

  <div class="buttons-bar u-flex u-flex-justify--center u-flex-align-items--center">
    <div routerLink="/portal/offer" class="custom-btn">
      <img src="assets/images/icons/write_offer.svg">
      <span >Write Offer</span>
    </div>
    <div (click)="openCreateAddressDialog()" class="custom-btn">
      <img src="assets/images/icons/im-selling.svg">
      <span>I’m Selling</span>
    </div>
    <div class="custom-btn">
      <div class="u-flex u-flex-justify--center u-flex-align-items--center file-types">
        <img src="assets/images/icons/doc.svg">
        <img src="assets/images/icons/pdf.svg">
        <img src="assets/images/icons/plus.svg" class="trigger">
      </div>
      <span>Supporting Docs</span>
    </div>
  </div>

  <div class="dialog">
    <router-outlet></router-outlet>
  </div>

  <h2 class="u-flex u-flex-justify--center">Transactions</h2>

</app-base-template>
