<app-base-template>

  <div class="buttons-bar u-flex u-flex-justify--center u-flex-align-items--center">
    <div routerLink="/portal/offer" class="custom-btn">
      <img src="assets/images/icons/write_offer.svg">
      <span>Write Offer</span>
    </div>
    <div (click)="openCreateAddressDialog()" class="custom-btn">
      <img src="assets/images/icons/im-selling.svg">
      <span>I’m Selling</span>
    </div>
    <div routerLink="/portal/upload" class="custom-btn">
      <div class="u-flex u-flex-justify--center u-flex-align-items--center file-types">
        <img src="assets/images/icons/doc.svg">
        <img src="assets/images/icons/pdf.svg">
        <img src="assets/images/icons/plus.svg" class="trigger">
      </div>
      <span>Supporting Docs</span>
    </div>
  </div>

  <div class="u-flex u-flex-justify--center">
    <div class="u-flex u-flex-direction--column u-flex-align-items--center">
      <h2 style="margin: 0">Transactions</h2>
      <mat-form-field>
        <mat-label style="display: none">Status</mat-label>
        <mat-select (valueChange)="onFilter($event)" [value]="Status.All">
          <mat-option *ngFor="let item of statuses" [value]="item.value">
            {{ item.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- Grid   -->
  <table mat-table [dataSource]="dataSource" class="common-grid">

    <!-- Date Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element" [ngClass]="getClassName(element.status)"> {{ element.createdAt | date: 'short' }} </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">
        <div class="u-flex u-flex-align-items--center">
          <span *ngIf="element.offer.streetName">
            {{ element.offer.streetName }},&nbsp;</span>
            {{ element.offer.city }} {{ element.offer.state }}
            <span *ngIf="element.offer.zip">, {{ element.offer.zip }}</span>
        </div>
      </td>
    </ng-container>

    <!-- Buyer Column -->
    <ng-container matColumnDef="buyers">
      <th mat-header-cell *matHeaderCellDef>Buyer</th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let item of element.offer.buyers">
          <mat-icon fontSet="fa" fontIcon="fa-user" class="user-icon" [class.current-user]="isCurrentUser(item)"></mat-icon>
          {{ item.firstName }} {{ item.lastName }}
        </div>
      </td>
    </ng-container>

    <!-- Seller -->
    <ng-container matColumnDef="sellers">
      <th mat-header-cell *matHeaderCellDef>Seller</th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let item of element.offer.sellers" class="u-flex u-flex-align-items--center">
          <mat-icon fontSet="fa" fontIcon="fa-user" class="user-icon" [class.current-user]="isCurrentUser(item)"></mat-icon>
          {{ item.firstName }} {{ item.lastName }}
        </div>
      </td>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element" [ngClass]="getClassName(element.status)">
        {{ element.status }}
      </td>
    </ng-container>

    <!-- Last Events -->
    <ng-container matColumnDef="lastEvents">
      <th mat-header-cell *matHeaderCellDef>Last Events</th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let item of element.offer.lastEvents">
          <div>{{ item.date | date }}</div>
          <div>{{ item.event }}</div>
        </div>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div routerLink="/portal/transaction/{{ element.id }}" class="detail-btn" [ngClass]="getClassName(element.status)">
          More Details
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="calendar-container">
    <h2 class="u-flex u-flex-justify--center">Calendar</h2>
    <full-calendar #calendar
                   defaultView="dayGridWeek"
                   [header]="calendarHeader"
                   [events]="calendarDataSource"
                   [plugins]="calendarPlugins">
    </full-calendar>
  </div>


  <div class="dialog"><router-outlet></router-outlet></div>
</app-base-template>
