@import "~src/assets/scss/mixins";
@import "~src/assets/scss/theming";

.buttons-bar {
  margin-top: 85px;
  .custom-btn {
    width: 318px;
    height: 140px;
    border-radius: 4px;
    border: solid 1px #d5d9e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #444c5d;
    margin: 0 12px 70px 12px;
    cursor: pointer;
    img {
      margin-bottom: 14px;
    }

    span {user-select: none;}

    @include animate-property(box-shadow);
    &:hover {
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    }

    .file-types > img:not(:first-of-type) {
      margin-left: 18px;
    }

    .trigger {
      @include animate-hover();
    }
  }
}

.detail-btn {
  width: 116px;
  height: 39px;
  border-radius: 4px;
  border: solid 1px $green;
  background-color: $green;
  font-size: 11px;
  font-weight: 600;
  color: white;
  letter-spacing: 0.77px;
  text-transform: uppercase;
  text-align: center;
  line-height: 39px;
  cursor: pointer;
  &.red {
    border: solid 1px $red;
    background-color: $red;
  }
  &.orange {
    border: solid 1px $orange;
    background-color: $orange;
  }
  &.yellow {
    border: solid 1px $yellow;
    background-color: $yellow;
  }
  &.turquoise {
    border: solid 1px $turquoise;
    background-color: $turquoise;
  }
  &.blue {
    border: solid 1px $blue;
    background-color: $blue;
  }
  &.violet {
    border: solid 1px $violet;
    background-color: $violet;
  }
  &:disabled {
    background-color: $grey;
    border: 0;
    cursor: not-allowed;
  }
}

.table-row {
  margin-bottom: 7px;
}

.common-grid table .mat-row .mat-cell {
  font-size: 13px!important;
  &.mat-column-createdAt {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-left: 5px solid $green;
    &.red { border-left-color: $red; }
    &.yellow { border-left-color: $yellow; }
    &.orange { border-left-color: $orange; }
    &.blue { border-left-color: $blue; }
    &.turquoise { border-left-color: $turquoise; }
    &.violet { border-left-color: $violet; }
  }

  &.mat-column-agentBuyers,
  &.mat-column-agentSellers,
  &.mat-column-buyers,
  &.mat-column-sellers {
    width: 130px;

    div {
      width: 110px;
      @include mat-truncate-line();
    }
  }

  &.mat-column-lastLogs {
    width: 180px;
    padding: 0 5px;
    color: #818896;
  }

  &.mat-column-status {
    width: 90px;
    color: $green;
    &.red { color: $red; }
    &.yellow { color: $yellow; }
    &.orange { color: $orange; }
    &.blue { color: $blue; }
    &.turquoise { color: $turquoise; }
    &.violet { color: $violet; }
  }
  &.mat-column-createdAt {
    width: 80px;
  }
  &.mat-column-address {
    max-width: 188px;
    p {margin: 0; white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis; padding-right: 10px;}
  }
  &.mat-column-actions {
    text-align: center;
  }
}

.user-icon {
  height: 14px;
  color: gray;
  &.current-user {
    color: #66ad58;
  }
}

.calendar-container {
  width: 80%; margin: 70px 10% 0 10%;
}

.small-text {
  font-size: 12px;
}
