<app-base-template>

  <div class="buttons-bar u-flex u-flex-justify--center u-flex-align-items--center">
    <div (click)="openOfferFlow()" class="custom-btn" *ngIf="user.accountType === 'agent'">
      <img src="assets/images/icons/write_offer.svg">
      <span>Write Offer</span>
    </div>
    <div (click)="openCreateAddressDialog()" class="custom-btn">
      <img src="assets/images/icons/im-selling.svg">
      <span>I’m Selling</span>
    </div>
    <div routerLink="/portal/upload" class="custom-btn">
      <div class="u-flex u-flex-justify--center u-flex-align-items--center file-types">
        <img src="assets/images/icons/doc.svg">
        <img src="assets/images/icons/pdf.svg">
        <img src="assets/images/icons/plus.svg" class="trigger" style="display: none">
      </div>
      <span>Supporting Docs</span>
    </div>
  </div>

  <div class="u-flex u-flex-justify--center">
    <div class="u-flex u-flex-direction--column u-flex-align-items--center">
      <h2 style="margin: 0">Purchase Agreements</h2>
      <mat-form-field>
        <mat-label style="display: none">Status</mat-label>
        <mat-select (valueChange)="onFilter($event)" [value]="Status.All">
          <mat-option *ngFor="let item of statuses" [value]="item">
            {{ statusLabels[item] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- Grid   -->
  <div class="common-grid">
    <table mat-table [dataSource]="dataSource">

      <!-- Date Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element" [ngClass]="getClassName(element.status)"> {{ element.createdAt | date: 'dd/MM/yy hh:mm a' }} </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">
          <div class="u-flex u-flex-align-items--center">
            <p>
              <span *ngIf="element.streetName">{{ element.streetName }},&nbsp;</span>
              {{ element.city }} {{ element.state }}
              <span *ngIf="element.zip">, {{ element.zip }}</span>
            </p>
          </div>
        </td>
      </ng-container>

      <!-- Agent buyer column -->
      <ng-container matColumnDef="agentBuyers">
        <th mat-header-cell *matHeaderCellDef>Buyer's Agents</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let item of element.agentBuyers">
            <mat-icon fontSet="fa" fontIcon="fa-user" class="user-icon" [class.current-user]="isCurrentUser(item)"></mat-icon>
            {{ item.firstName }} {{ item.lastName }}
          </div>
        </td>
      </ng-container>

      <!-- Agent seller column -->
      <ng-container matColumnDef="agentSellers">
        <th mat-header-cell *matHeaderCellDef>Listing Agents</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let item of element.agentSellers">
            <mat-icon fontSet="fa" fontIcon="fa-user" class="user-icon" [class.current-user]="isCurrentUser(item)"></mat-icon>
            {{ item.firstName }} {{ item.lastName }}
          </div>
        </td>
      </ng-container>

      <!-- Buyer Column -->
      <ng-container matColumnDef="buyers">
        <th mat-header-cell *matHeaderCellDef>Buyer</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let item of element.buyers">
            <mat-icon fontSet="fa" fontIcon="fa-user" class="user-icon" [class.current-user]="isCurrentUser(item)"></mat-icon>
            {{ item.firstName }} {{ item.lastName }}
          </div>
        </td>
      </ng-container>

      <!-- Seller -->
      <ng-container matColumnDef="sellers">
        <th mat-header-cell *matHeaderCellDef>Seller</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let item of element.sellers">
            <mat-icon fontSet="fa" fontIcon="fa-user" class="user-icon" [class.current-user]="isCurrentUser(item)"></mat-icon>
            {{ item.firstName }} {{ item.lastName }}
          </div>
        </td>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element" [ngClass]="getClassName(element.status)">
          {{ statusLabels[element.status] }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lastLogs">
        <th mat-header-cell *matHeaderCellDef>Last Events</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let item of element.lastLogs; let i = index">
            <div *ngIf="i < 2" [class.small-text]="element?.lastLogs?.length > 2">
              <div style="opacity: 0.85">{{ item.createdAt | date: 'short' }}</div>
              <div class="truncated" style="width: 100%">{{ item.title }}</div>
            </div>
          </div>
          <div *ngIf="element?.lastLogs?.length > 2" style="font-style: italic; opacity: .75;"> and {{ element?.lastLogs?.length - 2 }} more ...</div>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div routerLink="/portal/purchase-agreements/{{ element.id }}/details" class="detail-btn" [ngClass]="getClassName(element.status)">
            More Details
          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
    </table>
  </div>

  <div class="calendar-container">
    <h2 class="u-flex u-flex-justify--center">Calendar</h2>
    <lis-calendar [dataSource]="calendarDataSource"></lis-calendar>
  </div>

  <div class="dialog"><router-outlet></router-outlet></div>
</app-base-template>
