<div class="controls u-flex u-flex-justify--space-between" *ngIf="visible">
  <button class="deny-btn"
          mat-flat-button
          [disabled]="counterOffer?.isSigned && counterOffer?.status !== 'sent' || disabled"
          (click)="rejectCO()"
          color="accent">
    DENY
  </button>

  <button class="sign-btn"
          mat-flat-button
          [disabled]="counterOffer?.isSigned || disabled"
          (click)="createCCO()"
          color="primary">
    {{ isAgentSeller ? 'CO' : 'COUNTER OFFER'}}
  </button>

  <button class="sign-btn"
          mat-flat-button
          *ngIf="isAgentSeller"
          [disabled]="counterOffer?.isSigned || disabled"
          (click)="createCCO('multiple_counter_offer')"
          color="primary">
    MCO
  </button>
</div>
