.mat-dialog-title {
  display: flex;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin: -24px -24px 0 -24px;
  padding: 15px 26px;

  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    color: #444c5d;
  }
}

.form-container form {
  .fieldset {
    width: initial;
  }
  .link {
    outline: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.23px;
    color: #419bdf;
    text-transform: uppercase;
    margin: 0 0 36px 0;
  }
}

.multi-column {
  .fieldset:not(:first-of-type) {
    margin-left: 13px;
  }
}

.dialog-form {
  h4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    color: #444c5d;
    text-transform: uppercase;
  }

  h6 {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.23px;
    color: #b0b7bd;
  }
}

.button-bar {
  button {
    width: calc(50% - 8px);
  }
}
