.main-container {
  display: flex;

  .thumb {
    max-height: 800px;
    overflow-y: hidden;
    flex: 0 0 460px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  }

  .auth-container {
    border: 1px solid gainsboro;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 30px;
    color: #444c5d;
  }

  h5 {
    font-size: 15px;
    color: #5b6375;
  }
  form {
    width: 540px;
    margin-bottom: 25px;


    .fieldset {
      width: 100%;
      position: relative;

      label {
        text-transform: uppercase;
        letter-spacing: 0.84px;
        color: #444c5c;
        font-size: 12px;
        font-weight: 600;
      }

      .form-control {
        width: calc(100% - 38px);
        border-radius: 4px;
        border: solid 1px #8e96a7;
        padding: 14px 18px;
        margin-top: 9px;
        margin-bottom: 21px;
        font-size: 13px;
        letter-spacing: 0.25px;
        color: #444c5c;

        input:not([disabled]):hover {
          border-color: gray;
        }
      }

      app-form-validation-error {
        position: absolute;
        bottom: 3px;
        left: 0;
      }

      input.ng-invalid.ng-touched {
        border: 1px solid #c85578 !important;
      }
    }
  }

  .router-link {
    text-decoration: underline;
    outline: none;
    cursor: pointer;
  }
}


