@import "./../../../../../assets/scss/theming";
@import "./../../../../../assets/scss/forms.template";

.form-container {
  width: 30%;
  padding: 88px 0;

  .title {
    font-family: SFUIDisplay;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: $primary-text;
    padding-bottom: 50px;
  }

  .find-existing {
    width: 555px;
  }

  .existing-offers {
    padding-top: 10px;
    padding-bottom: 30px;

    .find-btn {
      width: 127px;
      height: 40px;
      background: #66AD58;
      border: 1px solid #66AD58;
      box-sizing: border-box;
      border-radius: 4px;
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      text-align: center;
      letter-spacing: 0.07em;

      color: #FFFFFF;

    }

    .label {
      padding-left: 30px;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.25px;
      color: #C7CCD6;
    }
  }

}
