@import "./../../../../assets/scss/theming";
@import "./../../../../assets/scss/mixins";

.side-bar {
  width: 73px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid #E2DFDF;
  background-color: #ffffff;
  z-index: 1;

  @include animate-property(width);

  &.open {
    width: 237px;
    padding: 23px 33px 0;
  }

  .close-icon {
    position: absolute;
    cursor: pointer;
    top: 22px;
    right: 22px;
  }

  .open-control {
    padding-top: 20px;

    .open-btn {
      border: 1px solid #E2DFDF;
      box-sizing: border-box;
      border-radius: 4px;
      width: 50px;
      min-width: 50px;
      height: 50px;
      padding: 0;

      img {
        width: 24px;
        height: 16px;
      }
    }
  }

  .controls {
    padding-bottom: 20px;

    .labels {
      padding-bottom: 8px;
    }

    .progress-bar {
      width: 100%;
      height: 2px;
      position: relative;
      background: rgba(176, 183, 189, 0.4);
      border-radius: 2px;
      margin: 10px 0 30px;

      .progress-line {
        position: absolute;
        height: 2px;
        left: 0;
        border-radius: 2px;
        background: #66AD58;
      }

    }

    .continue-btn {
      background: #66AD58;
      border-radius: 4px;
      width: 50px;
      min-width: 50px;
      height: 50px;
      display: flex;

      img {
        display: inline-block;
        width: 30px;
        padding-left: 2px;
      }

      span {
        display: none;
      }

      &.wide {
        width: 100%;
        font-family: 'SFUIDisplay';
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;

        text-align: center;
        letter-spacing: 0.25px;

        color: #FFFFFF;

        img {
          display: none;
        }

        span {
          opacity: 0.5;
          text-transform: uppercase;
          display: inline-block;
        }
      }
    }
  }
}
