<app-base-template>
  <div class="main-container">
    <div class="form-container u-flex-justify--center">
      <form class="profile" novalidate [formGroup]="form">
        <h1>Profile</h1>

        <app-notification-bar
          [type]="user?.registrationCompleted ? noteTypes.Notice : noteTypes.Warning"
        >
          <span class="note-text warning" *ngIf="!user?.registrationCompleted">
            You have Limited Agent permissions. <br />
            Fill the fields below to get full access to the platform.
          </span>
          <span class="note-text notice" *ngIf="user?.registrationCompleted">
            You have Full Agent’s permissions
          </span>
        </app-notification-bar>

        <div class="fieldset">
          <label>Company/Broker name</label>
          <input formControlName="companyName" placeholder="Your company/broker name" spellcheck="false"
                 class="form-control">
          <app-form-validation-error [baseControl]="form?.get('companyName')"></app-form-validation-error>
        </div>

        <div class="fieldset">
          <label>License number</label>
          <input formControlName="companyLicense" type="text" maxlength="9" placeholder="ex. 201446383" spellcheck="false" class="form-control">
          <app-form-validation-error [baseControl]="form?.get('companyLicense')"></app-form-validation-error>
        </div>

        <div class="fieldset">
          <label>Broker’s License Number</label>
          <input formControlName="licenseCode" type="text" maxlength="8" placeholder="ex. 01446383" spellcheck="false" class="form-control">
          <app-form-validation-error [baseControl]="form?.get('licenseCode')"></app-form-validation-error>
        </div>

        <div class="fieldset">
          <label>Address</label>
          <input formControlName="physicalAddress" placeholder="Your address" spellcheck="false" class="form-control">
          <app-form-validation-error [baseControl]="form?.get('physicalAddress')"></app-form-validation-error>
        </div>

        <div class="fieldset">
          <label>Phone number</label>
          <input formControlName="phoneNumber" placeholder="+1" spellcheck="false" class="form-control">
          <app-form-validation-error [baseControl]="form?.get('phoneNumber')"></app-form-validation-error>
        </div>

        <div class="u-flex" style="margin-top: 48px">
          <button mat-flat-button
                  class="submit-btn"
                  [disabled]="!form?.dirty || form?.invalid"
                  (click)="onSubmit()"
                  color="primary">
            <span *ngIf="!user.registrationCompleted">PROCEED</span>
            <span *ngIf="user.registrationCompleted">CHANGE AND SAVE</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</app-base-template>
