<div class="main-container">
  <div class="thumb">
    <img src="https://dummyimage.com/460x800">
  </div>
  <div class="auth-container">
    <form novalidate [formGroup]="form">
      <h2>Sign In to ListingX</h2>
      <h5>Don't have an account? <span routerLink="../register" class="router-link">Create new one</span></h5>
      <div class="fieldset">
        <label>E-MAIL</label>
        <input formControlName="email" placeholder="example@mail.com" spellcheck="false" class="form-control">
        <app-form-validation-error [formControl]="form.get('email')"></app-form-validation-error>
      </div>
      <div class="fieldset">
        <label>PASSWORD</label>
        <input formControlName="password" placeholder="****************" type="password" class="form-control">
        <app-form-validation-error [formControl]="form.get('password')"></app-form-validation-error>
      </div>

      <div class="fieldset u-flex u-flex-justify--end description">
        <!--mat-checkbox formControlName="remember" disableRipple="true" class="example-margin">Remember me</mat-checkbox-->
        <span routerLink="../reset" class="router-link">Forgot password?</span>
      </div>

      <div class="fieldset" style="margin-top: 48px">
        <button mat-flat-button [disabled]="!form.dirty || form.invalid" (click)="onSubmit()" color="primary" style="width: 100%">
          SIGN IN
        </button>
      </div>
    </form>
  </div>
</div>
