:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;

  ::ng-deep ul {
    list-style-type: disc;
  }
  button {
    height: initial;
  }
}
