<div mat-dialog-title class="u-flex u-flex-justify--space-between u-flex-align-items--center">
  <div class="title">Write Offer - Step 1</div>
  <button class="close-btn" mat-icon-button (click)="onClose()" routerLink="../">
    <mat-icon class="close-icon" fontSet="fa" fontIcon="fa-times"></mat-icon>
  </button>
</div>
<div mat-dialog-content class="form-container dialog-form" style="min-height: 400px">
  <app-write-offer-template [anonymousOffer]="data.model" (offerSent)="onClose($event)"></app-write-offer-template>
</div>
