<div class="file-picker" role="dialog" aria-label="Color picker">
  <h3>{{ title }}</h3>

  <div class="selected-item" *ngFor="let item of selectedItems; let i = index">
    <app-selected-file-item [item]="item" (remove)="removeSelectedItem(i)"></app-selected-file-item>
  </div>

  <file-uploader [shortened]="selectedItems.length > 0" (onFileSelect)="onSelectFilesForUpload($event)">
    <button mat-flat-button class="upload-btn" [class.shortened]="selectedItems.length > 0">
      {{selectedItems.length > 0 ? 'UPLOAD' : 'UPLOAD NEW DOC'}}
    </button>
  </file-uploader>

  <div (keydown)="keyDownHandler($event)" role="listbox" tabindex="0" aria-label="Select a color">
    <h3 class="title" *ngIf="dataSource?.length">Or choose existing document</h3>
    <div *ngFor="let item of dataSource; index as i"
         role="checkbox"
         [class.custom]="item.custom"
         [id]="item.id"
         [attr.aria-label]="item.title"
         [attr.aria-checked]="item.checked"
         (keydown.enter)="onClick(item)"
         (click)="onClick(item)"
         [title]="item.title">
      <img src="assets/images/icons/{{ item.extension }}.svg" height="64">
      <div class="filename">{{ item.title }}</div>
    </div>
  </div>
</div>
