<div class="file-picker" role="dialog" aria-label="Color picker">
  <h3>{{ title }}</h3>
  <file-uploader (onFileSelect)="onSelectFilesForUpload($event)">
    <div class="upload-btn">UPLOAD NEW DOC</div>
  </file-uploader>

  <div (keydown)="keyDownHandler($event)" role="listbox" tabindex="0" aria-label="Select a color">
    <h3 *ngIf="dataSource?.length">Or choose existing document</h3>
    <div *ngFor="let item of dataSource; index as i"
         role="checkbox"
         [id]="item.id"
         [attr.aria-label]="item.title"
         [attr.aria-checked]="item.checked"
         (keydown.enter)="onClick(item)"
         (click)="onClick(item)"
         [title]="item.title">
      <img src="assets/images/icons/{{ item.extension }}.svg" height="64">
      <div class="filename">{{ item.title }}</div>
    </div>
  </div>
</div>
