@import "../../../../assets/scss/forms.template";

@import "../dialogs.template";

.skip-label {
  font-size: 10px;
  color: #8e96a7;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 40px;
}

.button-bar {
  flex-direction: column;
}

app-file-picker {
  width: 100%;
}
