<div mat-dialog-title class="u-flex u-flex-justify--space-between u-flex-align-items--center">
  <div class="title">Write Offer - Supporting Docs</div>
  <button mat-icon-button mat-dialog-close [routerLink]="closeLink">
    <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
  </button>
</div>
<div [formGroup]="form" mat-dialog-content cdkTrapFocus class="form-container dialog-form" style="min-height: 400px">
  <app-file-picker
    formControlName="preApproval"
    [docsIds]="modelIds['preApproval']"
    [type]="Type.preApproval"
    [offerId]="data.transactionPage ? data.model.offerId : null"
  ></app-file-picker>
  <app-file-picker
    formControlName="proofOfFunds"
    [docsIds]="modelIds['proofOfFunds']"
    [type]="Type.proofOfFunds"
    [offerId]="data.transactionPage ? data.model.offerId : null"
  ></app-file-picker>
  <app-file-picker
    formControlName="coverLetter"
    [docsIds]="modelIds['coverLetter']"
    [type]="Type.coverLetter"
    [offerId]="data.transactionPage ? data.model.offerId : null"
  ></app-file-picker>
</div>

<div mat-dialog-actions class="fieldset button-bar" *ngIf="data.modalType === ModalTypes.OfferUpdating">
  <div class="u-flex u-flex-justify--space-between u-flex-align-items--center" style="width: 100%;">
    <button
      mat-stroked-button
      mat-dialog-close
      [routerLink]="data.transactionPage ? '/portal/transactions/' + data.transactionId : '/portal/purchase-agreements/' + data.model.offerId + '/details'"
    >CANCEL</button>
    <button
      mat-flat-button
      color="primary"
      appDebounceClick
      (debounceClick)="updateDocs()"
    >SAVE</button>
  </div>
</div>

<div mat-dialog-actions class="fieldset button-bar" *ngIf="data.modalType === ModalTypes.OfferCreation">
  <ng-container>
    <div class="u-flex u-flex-justify--space-between u-flex-align-items--center" style="width: 100%;">
      <button mat-stroked-button mat-dialog-close [routerLink]="['/portal/offer', data.model.offerId, 'step-2']"  color="primary">
        BACK
      </button>
      <button mat-flat-button appDebounceClick (debounceClick)="continue()" color="primary">CONTINUE</button>
    </div>
    <button mat-button mat-dialog-close [routerLink]="['/portal/offer', data.model.offerId, 'summary']" class="skip-label">
      Skip this step
    </button>
  </ng-container>
</div>
