<div mat-dialog-title class="u-flex u-flex-justify--space-between u-flex-align-items--center">
  <div class="title">Write Offer - Supporting Docs</div>
  <button mat-icon-button mat-dialog-close routerLink="../">
    <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
  </button>
</div>
<div [formGroup]="form" mat-dialog-content cdkTrapFocus class="form-container dialog-form" style="min-height: 400px">
  <app-file-picker formControlName="preApproval" [type]="Type.preApproval"></app-file-picker>
  <app-file-picker formControlName="proofOfFunds" [type]="Type.proofOfFunds"></app-file-picker>
  <app-file-picker formControlName="coverLetter" [type]="Type.coverLetter"></app-file-picker>
</div>

<div mat-dialog-actions class="fieldset button-bar">
  <div class="u-flex u-flex-justify--space-between u-flex-align-items--center" style="width: 100%;">
    <button mat-stroked-button mat-dialog-close [routerLink]="backLink"  color="primary">
      BACK
    </button>
    <button mat-flat-button appDebounceClick (debounceClick)="close()" color="primary">CONTINUE</button>
  </div>
  <button mat-button mat-dialog-close [routerLink]="nextLink" class="skip-label">
    Skip this step
  </button>
</div>
