@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/theming";

:host {
  display: flex;
  align-items: center;
  max-width: 250px;
}

$border: 4px;

.placeholder {
  position: relative;
  min-width: 80px;
  height: 23px;
  border: none;
  border-bottom: solid 1px black;
  text-align: center;

  &.full-name {
    width: inherit;
    text-align: start;
    padding-left: 15px;
    .trigger { left: 14px!important; }
  }

  .trigger {
    position: absolute;
    left: 0;
    bottom: -27px;
  }

  .signature {
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
  }

  .arrow_box {
    cursor: pointer;
    position: relative;
    background: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 26px;
    color: #fff;
    border-radius: 4px;
    z-index: 1;

    .text {
      text-align: center;
      font-size: 14px;
      line-height: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}



