<span *ngIf="signWithInitials">(</span>

<div class="placeholder" [class.full-name]="!signWithInitials">
<!--  <div *ngIf="!isReadonly" class="trigger" (click)="process()">-->
<!--    <div class="arrow_box" [class.un-sign]="mode === SignMode.UnSign" >-->
<!--      <mat-icon fontSet="fa" [fontIcon]="mode === SignMode.Sign ? 'fa-signature' : 'fa-eraser'" class="icon" style="height: 16px;"></mat-icon>-->
<!--      <div class="text">{{ mode === SignMode.UnSign ? 'Unsign' : signWithInitials ? 'Initials' : 'Sign' }}</div>-->
<!--    </div>-->
<!--  </div>-->

  <span *ngIf="signWithInitials" class="signature">{{ signature.firstName | letter }}. {{ signature.lastName | letter }}.</span>
  <span *ngIf="!signWithInitials" class="signature">{{ signature.firstName }} {{ signature.lastName }}</span>
<!--    <span *ngIf="signWithInitials" class="signature">{{ signature.signature }}</span>-->
<!--    <span *ngIf="!signWithInitials" class="signature">{{ user.firstName }} {{ user.lastName }}</span>-->

</div>

<span *ngIf="signWithInitials">&nbsp;)</span>
