<app-base-template>

  <div class="u-flex u-flex-direction--column u-flex-align-items--center">
    <h2>
      Addresses
    </h2>
    <button mat-flat-button (click)="onCreate()" color="primary" style="margin-bottom: 85px;">
      ADD NEW ADDRESS
    </button>

    <!-- Grid  -->
    <div class="common-grid">
      <table mat-table [dataSource]="dataSource" >

        <!-- Date Column -->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element"> {{ element.createdAt | date: 'short' }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
            <div class="u-flex u-flex-align-items--center">
              <mat-icon fontSet="fa" fontIcon="fa-user" class="user-icon"></mat-icon>
              {{ element.firstName }} {{element.lastName}}
            </div>
          </td>
        </ng-container>

        <!-- Sellers column -->
        <ng-container matColumnDef="sellers">
          <th mat-header-cell *matHeaderCellDef>Sellers</th>
          <td mat-cell *matCellDef="let element">
            <ul *ngIf="element.sellers.length">
              <li *ngFor="let seller of element.sellers">
                <mat-icon fontSet="fa" fontIcon="fa-user" class="user-icon"></mat-icon>
                {{ seller.firstName }} {{ seller.lastName }}
              </li>
            </ul>
          </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element">
            <p>
              <span *ngIf="element.streetName">{{element.streetName}},&nbsp;</span>
              {{element.city}} {{element.state}}
              <span *ngIf="element.zip">, {{element.zip}}</span>
            </p>
          </td>
        </ng-container>

        <!-- Offers created Column -->
        <ng-container matColumnDef="offersCreated">
          <th mat-header-cell *matHeaderCellDef>Offers created</th>
          <td mat-cell *matCellDef="let element"> {{ element.offersCreated }} </td>
        </ng-container>

        <!-- Offers signed Column -->
        <ng-container matColumnDef="offersSigned">
          <th mat-header-cell *matHeaderCellDef>Offers signed</th>
          <td mat-cell *matCellDef="let element"> {{ element.offersSigned }} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              matTooltipShowDelay="1000"
              [copy-to-clipboard]="element.generatedLink"
              color="accent"
              mat-icon-button>
              <mat-icon fontSet="fa" fontIcon="fa-clone" class="icon"></mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="onDelete(element)">
              <mat-icon fontSet="fa" fontIcon="fa-trash-alt" class="icon"></mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="onEdit(element)">
              <mat-icon fontSet="fa" fontIcon="fa-edit" class="icon"></mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>


</app-base-template>
