@import "~src/assets/scss/mixins";

:host {
  display: flex;
  align-items: center;
  max-width: 250px;
}

$border: 4px;

.placeholder {
  position: relative;
  min-width: 80px;
  height: 23px;
  border: none;
  border-bottom: solid 1px black;
  text-align: center;

  &.full-name {
    width: inherit;
    text-align: start;
    padding-left: 15px;
    .trigger { left: 14px!important; }
  }

  .trigger {
    position: absolute;
    left: -8px;
    top: -5px;
  }

  .signature {
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
  }

  .arrow_box {
    cursor: pointer;
    position: relative;
    background: #88b7d5;
    border: 4px solid #c2e1f5;
    border-right: none;
    display: flex;
    align-items: center;
    width: 80px;
    height: 26px;
    color: #ddf8c6;
    padding-left: 5px;

    opacity: 1;
    @include animate-property(opacity);
    &:hover:not(:focus) {
      opacity: .8;
    }
    &.un-sign {
      opacity: .15;
      &:hover {opacity: 1;}
    }
    &.readonly-mode {
      opacity: 0;
    }

    &:after,
    &:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(136, 183, 213, 0);
      border-left-color: #88b7d5;
      border-width: 12px;
      margin-top: -12px;
    }

    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-left-color: #c2e1f5;
      border-width: 18px;
      margin-top: -18px;
    }

    .text {
      text-align: center;
      font-size: 14px;
      line-height: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}



