(
<div class="placeholder" [class.full-name]="!signWithInitials">
  <div class="trigger" (click)="process()" >
    <div class="arrow_box" [class.un-sign]="mode === SignMode.UnSign" >
      <mat-icon fontSet="fa" fontIcon="fa-signature" class="icon" style="height: 16px;"></mat-icon>
      <div class="text">{{ this.mode === SignMode.UnSign ? 'Unsign' : this.signWithInitials ? 'Initials' : 'Sign' }}</div>
    </div>
  </div>

  <ng-container *ngIf="mode === SignMode.UnSign">
    <span *ngIf="signWithInitials" class="signature">{{ user.firstName | letter }} {{ user.lastName | letter }}</span>
    <span *ngIf="!signWithInitials" class="signature">{{ user.firstName | letter }} {{ user.lastName | letter }}</span>
  </ng-container>
</div>
&nbsp;)
