<div mat-dialog-title class="u-flex u-flex-justify--space-between u-flex-align-items--center">
  <div class="title">Write Offer - Step 2</div>
  <button mat-icon-button mat-dialog-close routerLink="../">
    <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
  </button>
</div>
<div mat-dialog-content class="form-container dialog-form" style="min-height: 400px">
  <form novalidate [formGroup]="form" style="width: 100%!important;">
    <div>
      <h4>Payment information</h4>
      <div class="fieldset">
        <label>Initial deposit</label>
        <input formControlName="initialDeposit" placeholder="Deposit" spellcheck="false" class="form-control">
        <app-form-validation-error [baseControl]="form.get('initialDeposit')"></app-form-validation-error>
      </div>
      <div *ngFor="let control of loans.controls; let i = index;" [formGroup]="control">
        <h6 *ngIf="loans.controls.length > 1" class="subtitle">loan #{{ i + 1}}</h6>
        <div class="u-flex u-flex-align-items--center u-flex-justify--space-between multi-column">
          <div class="fieldset u-flex-1">
            <label>loan amount</label>
            <input formControlName="loanAmount" placeholder="Amount" spellcheck="false" class="form-control">
            <app-form-validation-error [baseControl]="control.get('loanAmount')"></app-form-validation-error>
          </div>
          <div class="fieldset u-flex-1">
            <label>interest rate</label>
            <input formControlName="interestRate" placeholder="Rate" spellcheck="false" class="form-control">
            <app-form-validation-error [baseControl]="control.get('interestRate')"></app-form-validation-error>
          </div>
          <div class="fieldset u-flex-1">
            <label>points</label>
            <input formControlName="points" placeholder="points" spellcheck="false" class="form-control">
            <app-form-validation-error [baseControl]="control.get('points')"></app-form-validation-error>
          </div>
          <button *ngIf="loans.controls.length > 1" mat-icon-button color="accent" (click)="remove(i)">
            <mat-icon fontSet="fa" fontIcon="fa-trash-alt" class="icon"></mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="loans.controls.length < 3" (click)="addLoan()" class="link">add Loan</div>
    </div>

    <mat-radio-group formControlName="loanType" aria-label="Select an option">
      <mat-radio-button *ngFor="let item of loanTypes" [value]="item.value">{{ item.label }}</mat-radio-button>
    </mat-radio-group>

    <div class="fieldset" style="margin-top: 30px; width: 300px;">
      <label>Down Payment</label>
      <input formControlName="downPayment" placeholder="Payment" spellcheck="false" class="form-control" >
      <app-form-validation-error [baseControl]="form.get('downPayment')"></app-form-validation-error>
    </div>

    <div class="fieldset" >
      <label>Any special financing terms?</label>
      <textarea formControlName="anySpecialFinancialTerms" placeholder="Your message here..." spellcheck="false" class="form-control" style="resize: none;height: 157px;"></textarea>
      <app-form-validation-error [baseControl]="form.get('anySpecialFinancialTerms')"></app-form-validation-error>
    </div>
  </form>
</div>

<div mat-dialog-actions class="fieldset u-flex u-flex-justify--space-between u-flex-align-items--center button-bar">
  <button mat-stroked-button mat-dialog-close [routerLink]="backLink" color="primary">BACK</button>
  <button mat-flat-button appDebounceClick
          (debounceClick)="close()"
          [disabled]="form.invalid"
          color="primary">CONTINUE</button>
</div>
