/* You can add global styles to this file, and also import other style files */
@import "assets/scss/u-flex";
@import "assets/scss/fonts";
@import "assets/scss/theming";

html, body { height: 100%; }
body { margin: 0; font-family: SFUIDisplay, Roboto, "Helvetica Neue", sans-serif; }
* {outline: none;}

button {height: 45px;}
h2 {font-size: 36px;}

