<app-base-template [isVisibleNavBar]="false">
  <div class="container">
    <header class="clearfix">
      <img src="assets/pdf2html/logo1.png" width="350" height="120" class="image">
      <div class="box">
        <div class="box-div-1">CALIFORNIA</div>
        <div class="box-div-1">RESIDENTIAL PURCHASE AGREEMENT</div>
        <div class="box-div-1">AND JOINT ESCROW INSTRUCTIONS</div>
        <div class="box-div-2">(C.A.R. Form RPA-CA, Revised 12/18)</div>
      </div>
    </header>

    <form>
      <label class="font-weight-bold">Date Prepared:</label>
      <input  disabled type="date" name="">

      <div class="font-weight-bold">1. &nbsp; OFFER:</div>
      <div class="ml-4">
        <label class="font-weight-bold">A. THIS IS AN OFFER FROM</label>
        <input  disabled type="text" name="" class="large-input-1">
        <span> ( &#8220;Buyer&#8221;).</span>

        <div>
          <label>
            <span class="font-weight-bold"> B. THE REAL PROPERTY </span> &nbsp; to be acquired is
          </label>
          <input  disabled type="text" name="" class="large-input-8">

          <label> , situated in </label>
          &nbsp; &nbsp;&nbsp;
          <input  disabled type="text" name="">
          <label> (City),</label>

          <input  disabled type="text" name="">
          <label>(County), California,</label>

          <input  disabled type="text" name="">
          <label>(Zip Code), Assessor's Parcel No.</label>

          <input  disabled type="text" name="">
          ( &#8220;Property&#8221;).

        </div>

        <div>
          <label><span class="font-weight-bold"> C. THE PURCHASE PRICE </span>offered is</label>
          <input  disabled type="text" name="" class="large-input-4">
          &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <input  disabled type="text" name="" class="large-input-4">

          <label>Dollars $ </label>
          <input  disabled type="text" name="">
          <span>.</span>
        </div>

        <div>
          <label><span class="font-weight-bold">D. CLOSE OF ESCROW</span> shall occur on</label>
          <input  disabled type="checkbox">
          <input  disabled type="date" name="">
          <label>(date)( or</label>
          <input  disabled type="checkbox">
          <input  disabled type="number" name="" class="large-input-number">
          <label><span class="font-weight-bold"> Days</span>&nbsp; After Acceptance).</label>
        </div>

        <div>
          <span class="font-weight-bold">E. </span> Buyer and Seller are referred to herein as the &#8220;Parties.&#8221;
          Brokers are not Parties to this Agreement.
        </div>
      </div>

      <div class="font-weight-bold">2. AGENCY:</div>
      <div class="ml-4">
        <div>
          <span class="font-weight-bold">A. DISCLOSURE:</span> &nbsp; The Parties each acknowledge receipt of a
          <input  disabled type="checkbox">
          &#8220;Disclosure Regarding Real Estate Agency Relationships&#8221; (C.A.R. Form AD).
        </div>
        <div><span class="font-weight-bold">B. CONFIRMATION:</span> The following agency relationships are hereby
          confirmed for this transaction:
        </div>
        <div class="ml-4">
          <label class="font-weight-bold" for="input-20">Seller's Brokerage Firm </label>
          <input  disabled type="text" name="" class="large-input-5" id="input-20">
          <label for="input-21">License Number</label>
          <input  disabled type="number" name="" id="input-21">
          <br>
          <label>Is the broker of (check one):</label>
          <input  disabled type="checkbox" name="" id="input-22">
          <label for="input-22">the seller;</label>
          or
          <input  disabled type="checkbox" name="" id="input-23">
          <label for="input-23">both the buyer and seller. </label>(dual agent)
          <br>
          <label for="input-24">Seller's Agent</label>
          <input  disabled type="text" name="" id="input-24" class="large-input-6">
          <label for="input-25">License Number</label>
          <input  disabled type="number" name="" id="input-25">
          <br>
          <label>Is (check one):</label>
          <input  disabled type="checkbox" name="" id="input-26">
          <label for="input-26">the Seller's Agent.</label>
          (salesperson or broker associate)
          <input  disabled type="checkbox" name="" id="input-36">
          <label for="input-36">both the Buyer's and Seller's Agent.</label> (dual agent)
          <br>
          <label class="font-weight-bold" for="input-27">Buyer's Brokerage Firm </label>
          <input  disabled type="text" name="" class="large-input-5" id="input-27">
          <label for="input-28">License Number</label>
          <input  disabled type="number" name="" id="input-28">
          <br>
          <label>Is the broker of (check one):</label>
          <input  disabled type="checkbox" name="" id="input-29">
          <label for="input-29">the buyer;</label>
          or
          <input  disabled type="checkbox" name="" id="input-30">
          <label for="input-30">both the buyer and seller. </label>(dual agent)
          <br>
          <label for="input-31">Buyer's Agent</label>
          <input  disabled type="text" name="" id="input-31" class="large-input-6">
          <label for="input-32">License Number</label>
          <input  disabled type="number" name="" id="input-32">
          <br>
          <label>Is (check one):</label>
          <input  disabled type="checkbox" name="" id="input-33">
          <label for="input-33">the Buyer's Agent.</label>
          (salesperson or broker associate)
          <input  disabled type="checkbox" name="" id="input-34">
          <label for="input-34">both the Buyer's and Seller's Agent.</label> (dual agent)
        </div>
        <div>
          <label> <span class="font-weight-bold"> C. POTENTIALLY COMPETING BUYERS AND SELLERS:</span>&nbsp; The Parties
            each acknowledge receipt of a</label>
          <input  disabled type="checkbox">
          <label> &#8220;Possible Representation of More than One</label>
          <label> Buyer or Seller - Disclosure and Consent&#8221; (C.A.R. Form PRBS).</label>
        </div>
      </div>

      <div><span class="font-weight-bold"> 3. FINANCE TERMS: </span> Buyer represents that funds will be good when
        deposited with Escrow Holder.
      </div>

      <div class="ml-4">
        <div class="clearfix">

          <div class="col-left">
            <label><span class="font-weight-bold"> A. INITIAL DEPOSIT: </span> Deposit shall be in the amount of . . . . .
              . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
            </label>
            <div class="ml-4">
              <span class="font-weight-bold">(1)</span> Buyer Direct Deposit: Buyer shall deliver deposit directly to
              Escrow Holder by electronic funds transfer,

              <input  disabled type="checkbox">
              <label>cashier's check,</label>
              <input  disabled type="checkbox">
              <label>personal check,</label>
              <input  disabled type="checkbox">
              <label>other</label>
              <input  disabled type="text" name="">
              within 3 business days
              <br>
              after Acceptance (or
              <input  disabled type="text" name="" class="large-input-9">
              <span>);</span>

              <br>
              <span class="font-weight-bold">OR (2)</span>
              <input  disabled type="checkbox">
              <label> Buyer Deposit with Agent: Buyer has given the deposit by personal check</label>
              <span> (or</span>
              <input  disabled type="text" name="">
              <span>)</span>
              <span>to the agent submitting the offer (or to</span>
              <input  disabled type="text" name="" class="large-input-10">
              <span> ), made payable to</span>
              <input  disabled type="text" name="" class="large-input-11">
              <span>.</span>
              <span> The deposit shall be held uncashed until Acceptance and then deposited with Escrow Holder within
								<span class="font-weight-bold"> 3 </span>business days after Acceptance (or</span>
              <input  disabled type="text" name="" class="large-input-11">
              <span> ). Deposit checks given to agent shall be an original signed check and not a copy.</span>
            </div>
            (Note: Initial and increased deposits checks received by agent shall be recorded in Broker's trust fund log.)
          </div>

          <div class="col-right">
            $
            <input  disabled type="text" class="large-input-7">
          </div>

        </div>

        <div class="clearfix">
          <div class="col-left">
            <label><span class="font-weight-bold">B. INCREASED DEPOSIT:</span> Buyer shall deposit with Escrow Holder an
              increased deposit in the amount of . . . . . . . . . . . . . . . . . . .
            </label>
            <div class="ml-4">
              <label>within</label>
              <input  disabled type="number" name="" class="large-input-number">
              <span class="font-weight-bold">Days </span>
              <label>&nbsp; After Acceptance (or</label>
              <input  disabled type="text" name="" class="large-input-12">
              <span>).</span>
              <div>
                If the Parties agree to liquidated damages in this Agreement, they also agree to incorporate the increased
                deposit into the liquidated damages amount in a separate liquidated damages clause (C.A.R. Form RID) at
                the time the increased deposit is delivered to Escrow Holder.
              </div>
            </div>
            <div>
              <span class="font-weight-bold">C.</span>
              <input  disabled type="checkbox">
              <label class="font-weight-bold">ALL CASH OFFER:</label>
              <span> No loan is needed to purchase the Property. This offer is NOT contingent on Buyer obtaining a loan.</span>
              <div class="ml-4">
                Written verification of sufficient funds to close this transaction IS ATTACHED to this offer or

                <input  disabled type="checkbox">
                Buyer shall, within
                <br>
                <span class="font-weight-bold"> &nbsp; 3 (or</span>
                <input  disabled type="number" name="" class="large-input-number">
                <span class="font-weight-bold">) Days</span>
                After Acceptance, Deliver to Seller such verification.
              </div>
            </div>
          </div>
          <div class="col-right">
            $
            <input  disabled type="text" class="large-input-7">
          </div>
        </div>

        <div class="font-weight-bold">D. LOAN(S):</div>
        <div class="clearfix">
          <div class="col-left">
            <div class="ml-4">
              <label><span class="font-weight-bold">(1) FIRST LOAN:</span> in the amount of . . . . . . . . . . . . . . .
                . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                . . . </label>

              <div class="ml-4  ">
                This loan will be conventional financing <span class="font-weight-bold"> OR</span>
                <input  disabled type="checkbox">
                <label>FHA,</label>
                <input  disabled type="checkbox">
                <label>VA,</label>
                <input  disabled type="checkbox" id="checkbox-11">
                <label for="checkbox-11">Seller financing (C.A.R. Form SFA),</label>
                <input  disabled type="checkbox" id="checkbox-12">
                <label for="checkbox-12"> assumed financing (C.A.R. Form AFA),</label>
                <input  disabled type="checkbox" id="checkbox-13">
                <label for="checkbox-13"> Other</label>
                <input  disabled type="text" name="">.
                <span> This loan shall be at</span>
                <label for="input-8"> a fixed rate not to exceed</label>
                <input  disabled type="text" name="" id="input-8" class="large-input-number">
                <label for="input-8"> % or,</label>
                <input  disabled type="checkbox" id="checkbox-14">
                <label for="checkbox-14"> an adjustable rate loan with initial rate</label>
                <label for="input-9"> not to exceed</label>
                <input  disabled type="text" name="" class="large-input-number">
                <label for="input-9">%.</label>
                <label for="input-10">Regardless of the type of loan, Buyer shall pay points not to exceed</label>
                <input  disabled type="text" name="" id="input-10" class="large-input-number">
                <label for="input-10">% of the </label>
                <span> loan amount.</span>

              </div>
            </div>
          </div>
          <div class="col-right">
            $
            <input  disabled type="text" class="large-input-7">
          </div>
        </div>

        <div class="clearfix">
          <div class="col-left">
            <div class="ml-4">
              <div>
                <label class="font-weight-bold">(2)</label>
                <input  disabled type="checkbox" id="checkbox-15">
                <label class="font-weight-bold" for="checkbox-15"> SECOND LOAN</label>
                <label for="input-11"> in the amount of . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                  . . . . . . . . . . . . . . . . . . . . . .
                  . . . . . . . . . . . .
                </label>
              </div>
              <div class="ml-4 ">
                This loan will be conventional financing <span class="font-weight-bold"> OR</span>
                <input  disabled type="checkbox" id="checkbox-16">
                <label for="checkbox-16"> Seller financing (C.A.R. Form SFA),</label>
                <input  disabled type="checkbox" id="checkbox-17">
                <label for="checkbox-17"> assumed financing </label>
                (C.A.R. Form AFA),
                <input  disabled type="checkbox" id="checkbox-18">
                <label for="checkbox-18"> Other </label>
                <input  disabled type="text" name="">.
                <label for="input-12">&nbsp; This loan shall be at a fixed rate not to exceed</label>
                <input  disabled type="text" name="" id="input-12" class="large-input-number">
                <label for="input-12">% or,</label>
                <input  disabled type="checkbox" id="checkbox-19">
                <label for="checkbox-19"> an adjustable rate loan with initial rate not to exceed</label>
                <input  disabled type="text" name="" id="input-13" class="large-input-number">
                <label for="input-13">%.</label>
                <label for="input-14">&nbsp; Regardless of the type of loan, Buyer shall pay points not to exceed</label>
                <input  disabled type="text" name="" id="input-14" class="large-input-number">
                <label for="input-14">% of the loan amount.</label>
              </div>
              <div>
                <span class="font-weight-bold"> (3) FHA/VA:</span> For any FHA or VA loan specified in 3D(1), Buyer has
                <span class="font-weight-bold"> 17 (or</span>
                <input  disabled type="number" name="" id="input-15" class="large-input-number">
                <label class="font-weight-bold" for="input-15"> ) Days</label>
                After Acceptance
                <div class="ml-4"> to Deliver to Seller written notice (C.A.R. Form FVA) of any lender-required repairs or
                  costs that Buyer requests Seller to pay for or otherwise correct. Seller has no obligation to pay or
                  satisfy lender requirements unless agreed in writing. A FHA/VA amendatory clause (C.A.R. Form FVAC)
                  shall be a part of this Agreement.
                </div>
              </div>
            </div>
          </div>
          <div class="col-right">
            $
            <input  disabled type="text" id="input-11" class="large-input-7">
          </div>
        </div>

        <div>
          <label class="font-weight-bold">E. ADDITIONAL FINANCING TERMS:</label>
          <input  disabled type="text" name="" class="large-input-2">
          <input  disabled type="text" name="" class="large-input-3">
        </div>

        <div class="clearfix">
          <div class="col-left">
            <label for="input-16"><span class="font-weight-bold"> F. BALANCE OF DOWN PAYMENT OR PURCHASE PRICE</span> in
              the amount of . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
            </label>
            <div>&nbsp; &nbsp;&nbsp;to be deposited with Escrow Holder pursuant to Escrow Holder instructions.</div>
          </div>
          <div class="col-right">
            $
            <input  disabled type="text" id="input-16" class="large-input-7">
          </div>
        </div>

        <div class="clearfix">
          <div class="col-left">
            <label for="input-17"><span class="font-weight-bold"> G. PURCHASE PRICE (TOTAL):</span> . . . . . . . . . . .
              . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
              . . . . . . . . . . .
            </label>
          </div>
          <div class="col-right">
            $
            <input  disabled type="text" id="input-17" class="large-input-7">
          </div>
        </div>
      </div>


      <div class="clearfix">
        <div class="col-left-initials">
          <label>Buyer's Initials</label>
          (<input  disabled type="text" name="" id="Buyer-1">) &nbsp;
          (<input  disabled type="text" name="" id="Buyer-2">)
          <div>&#169; 1991-2018, California Association of REALTORS &#174;, Inc.</div>
        </div>

        <div class="col-right-initials">
          <label>Seller's Initials</label>
          (<input  disabled type="text" name="" id="Seller-1">) &nbsp;
          (<input  disabled type="text" name="" id="Seller-2">)
          <img src="assets/pdf2html/housing.png" width="70" height="60" class="image-left">
        </div>
      </div>

    </form>

    <footer>
      <div class="font-weight-bold">RPA-CA REVISED 12/18 (PAGE 1 OF 10)</div>
      <div class="text-center font-weight-bold">
        CALIFORNIA RESIDENTIAL PURCHASE AGREEMENT (RPA-CA PAGE 1 OF 10)
      </div>
      <div class="border-dark">
        <div>
					<span class="font-weight-bold">
						Bret Pfeifer, 2512 Artesia Blvd ste 250G Redondo Beach, CA 90278
					</span>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
          <span>
						 Phone:<span class="font-weight-bold">3105250619</span>
					</span>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <span>
						 Fax:<span class="font-weight-bold">3108461456</span>
					</span>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <span class="font-weight-bold">
						David West
					</span>
        </div>
        <div>
					<span class="font-weight-bold">
						Bret Pfeifer
					</span>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
          <span>
						Produced with zipForm &#174; by zipLogix 18070 Fifteen Mile Road, Fraser, Michigan 48026 <a
            href="www.zipLogix.com">www.zipLogix.com</a>
					</span>
        </div>
      </div>
    </footer>
  </div>

  <div class="container page-2">
    <form>

      <label for="input-40">Property Address</label>
      <input  disabled type="text" name="" id="input-40">
      <label for="input-41">Date:</label>
      <input  disabled type="date" name="" id="input-41">
      <div><span class="font-weight-bold"> 32. ACCEPTANCE OF OFFER:</span> Seller warrants that Seller is the owner of the
        Property, or has the authority to execute this Agreement.
      </div>
      <div class="ml-4">
        Seller accepts the above offer, and agrees to sell the Property on the above terms and conditions. Seller has read
        and
        acknowledges receipt of a Copy of this Agreement, and authorizes Broker to Deliver a Signed Copy to Buyer.
        <br>
        <p>
          <input  disabled type="checkbox" name="">
          (If checked) SELLER'S ACCEPTANCE IS <span class="font-weight-bold"> SUBJECT TO ATTACHED COUNTER OFFER (C.A.R. Form SCO or SMCO) DATED:</span><br>
        </p>
        <input  disabled type="text" name="" id="input-42">.
      </div>
      <label for="input-43">Date</label>
      <input  disabled type="date" name="" id="input-43">
      <label for="input-44">Seller</label>
      <input  disabled type="text" name="" id="input-44" class="large-input-44">
      <br>
      <label class="font-weight-bold" for="input-45">(Print name)</label>
      <input  disabled type="text" name="" id="input-45" class="large-input-45">

      <label for="input-46">Date</label>
      <input  disabled type="date" name="" id="input-46">
      <label for="input-47">Seller</label>
      <input  disabled type="text" name="" id="input-47" class="large-input-44">
      <br>
      <label class="font-weight-bold" for="input-48">(Print name)</label>
      <input  disabled type="text" name="" id="input-48" class="large-input-45">

      <div>
        <input  disabled type="checkbox" name="" id="input-49">
        <label for="input-49">Additional Signature Addendum attached (C.A.R. Form ASA).</label>
      </div>

      <div class="clearfix">
        <div class="col-left-page-10">
          (<input  disabled type="text" name="" class="large-input-50">/<input  disabled type="text" name="" class="large-input-50">)
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; (Initials)
        </div>

        <div class="col-right-page-10">
          <span class="font-weight-bold"> (Do not initial if making a counter offer.) CONFIRMATION OF ACCEPTANCE:</span> A
          Copy of Signed Acceptance was
          personally received by Buyer or Buyer's authorized agent on (date)
          <input  disabled type="date" name="">
          at
          <input  disabled type="time" name="">
          <input  disabled type="checkbox" name="">AM/
          <input  disabled type="checkbox" name="">PM.
          <span class="font-weight-bold">A binding Agreement is created when a Copy of Signed Acceptance is personally received by
						Buyer or Buyer's authorized agent whether or not confirmed in this document. Completion of this confirmation
						is not legally required in order to create a binding Agreement; it is solely intended to evidence the date that
						Confirmation of Acceptance has occurred.</span>
        </div>
      </div>
      <br>
      <div class="border-dark-2">
        <div class="font-weight-bold">REAL ESTATE BROKERS:</div>
        <div class="font-weight-bold">A. Real Estate Brokers are not parties to the Agreement between Buyer and Seller.
        </div>
        <div class="font-weight-bold"> B. Agency relationships are confirmed as stated in paragraph 2</div>
        <div><span class="font-weight-bold"> C.</span> If specified in paragraph 3A(2), Agent who submitted the offer for
          Buyer acknowledges receipt of deposit.
        </div>
        <div><span class="font-weight-bold"> D. COOPERATING (BUYER'S) BROKER COMPENSATION:</span> Seller's Broker agrees
          to pay Buyer's Broker and Buyer's Broker agrees to
          accept, out of Seller's
        </div>
        <div class="ml-4">
          Broker's proceeds in escrow,
          the amount specified in the MLS,
          provided Buyer's Broker is a Participant of the MLS in
          which the Property is offered for sale or a reciprocal MLS. If Seller's Broker and Buyer's Broker are not both
          Participants of the MLS, or a
          reciprocal MLS, in which the Property is offered for sale, then compensation must be specified in a separate
          written agreement (C.A.R.
          Form CBC). Declaration of License and Tax (C.A.R. Form DLT) may be used to document that tax reporting will be
          required or that an
          exemption exists.
        </div>
        <div>
          <span class="font-weight-bold"> E. PRESENTATION OF OFFER:</span> Pursuant to Standard of Practice 1-7, if
          Buyer's Broker makes a written request, Seller's Broker shall confirm
          in writing that this offer has been presented to Seller.
        </div>
        <label for="input-51">Buyer's Brokerage Firm</label>
        <input  disabled type="text" name="" id="input-51" class="large-input-51">
        <label for="input-52">DRE Lic. #</label>
        <input  disabled type="text" name="" id="input-52">
        <br>
        <label for="input-53">By</label>
        <input  disabled type="text" name="" id="input-53" class="large-input-53">
        <label for="input-54">DRE Lic. #</label>
        <input  disabled type="text" name="" id="input-54">
        <label for="input-55">Date</label>
        <input  disabled type="Date" name="" id="input-55">
        <br>
        <label for="input-56">By</label>
        <input  disabled type="text" name="" id="input-56" class="large-input-53">
        <label for="input-57">DRE Lic. #</label>
        <input  disabled type="text" name="" id="input-57">
        <label for="input-58">Date</label>
        <input  disabled type="Date" name="" id="input-58">
        <br>
        <label for="input-59">Address</label>
        <input  disabled type="text" name="" id="input-59" class="large-input-59">
        <label for="input-60">City</label>
        <input  disabled type="text" name="" id="input-60">
        <label for="input-61">State</label>
        <input  disabled type="text" name="" id="input-61">
        <label for="input-62">Zip</label>
        <input  disabled type="text" name="" id="input-62">
        <br>
        <label for="input-63">Telephone</label>
        <input  disabled type="tel" name="" id="input-63" class="large-input-tel">
        <label for="input-64">Fax</label>
        <input  disabled type="tel" name="" id="input-64" class="large-input-fax">
        <label for="input-65">E-mail</label>
        <input  disabled type="email" name="" id="input-65" class="large-input-email">
        <br>
        <label for="input-66">Seller's Brokerage Firm</label>
        <input  disabled type="text" name="" id="input-66" class="large-input-51">
        <label for="input-67">DRE Lic. #</label>
        <input  disabled type="text" name="" id="input-67">
        <br>
        <label for="input-68">By</label>
        <input  disabled type="text" name="" id="input-68" class="large-input-53">
        <label for="input-69">DRE Lic. #</label>
        <input  disabled type="text" name="" id="input-69">
        <label for="input-70">Date</label>
        <input  disabled type="Date" name="" id="input-70">
        <br>
        <label for="input-71">By</label>
        <input  disabled type="text" name="" id="input-71" class="large-input-53">
        <label for="input-72">DRE Lic. #</label>
        <input  disabled type="text" name="" id="input-72">
        <label for="input-73">Date</label>
        <input  disabled type="Date" name="" id="input-73">
        <br>
        <label for="input-74">Address</label>
        <input  disabled type="text" name="" id="input-74" class="large-input-59">
        <label for="input-75">City</label>
        <input  disabled type="text" name="" id="input-75">
        <label for="input-76">State</label>
        <input  disabled type="text" name="" id="input-76">
        <label for="input-77">Zip</label>
        <input  disabled type="text" name="" id="input-77">
        <br>
        <label for="input-78">Telephone</label>
        <input  disabled type="tel" name="" id="input-78" class="large-input-tel">
        <label for="input-79">Fax</label>
        <input  disabled type="tel" name="" id="input-79" class="large-input-fax">
        <label for="input-80">E-mail</label>
        <input  disabled type="email" name="" id="input-80" class="large-input-email">
      </div>
      <br>
      <div class="border-dark-2">
        <div>
          <div class="font-weight-bold">ESCROW HOLDER ACKNOWLEDGMENT:</div>
          <label for="input-81">Escrow Holder acknowledges receipt of a Copy of this Agreement, (if checked,</label>
          <input  disabled type="checkbox" name="" id="input-81">
          <label for="input-82">a deposit in the amount of $</label>
          <input  disabled type="text" name="" id="input-82">),
        </div>
        <div>
          <label for="input-83">counter offer numbers</label>
          <input  disabled type="text" name="" id="input-83">
          <input  disabled type="checkbox" name="" id="input-84">
          <label for="input-84">Seller's Statement of Information and</label>
          <input  disabled type="text" name="" id="input-85">
        </div>
        <div>
          <input  disabled type="text" name="" id="input-86">,
          and agrees to act as Escrow Holder subject to paragraph 20 of this Agreement, any
        </div>
        supplemental escrow instructions and the terms of Escrow Holder's general provisions.
        <div>
          Escrow Holder is advised that the date of Confirmation of Acceptance of the Agreement as between Buyer and
          Seller is
          <input  disabled type="text" name="" id="input-87">
        </div>
        <div>
          <label for="input-88">Escrow Holder</label>
          <input  disabled type="text" name="" id="input-88">
          <label for="input-89">Escrow #</label>
          <input  disabled type="text" name="" id="input-89">
        </div>
        <div>
          <label for="input-90">By</label>
          <input  disabled type="text" name="" id="input-90">
          <label for="input-91">Date</label>
          <input  disabled type="date" name="" id="input-91">
        </div>
        <div>
          <label for="input-92">Address</label>
          <input  disabled type="text" name="" id="input-92">
        </div>
        <div>
          <label for="input-93">Phone/Fax/E-mail</label>
          <input  disabled type="text" name="" id="input-93">
        </div>
        <div>
          <label for="input-94">Escrow Holder has the following license number #</label>
          <input  disabled type="text" name="" id="input-94">
        </div>
        <input  disabled type="checkbox" name="" id="input-95">
        <label for="input-95">Department of Business Oversight,</label>
        <input  disabled type="checkbox" name="" id="input-96">
        <label for="input-96">Department of Insurance,</label>
        <input  disabled type="checkbox" name="" id="input-97">
        <label for="input-97">Department of Real Estate.</label>
      </div>
      <br>
      <div class="border-dark-2">
        <div>
          <label class="font-weight-bold">PRESENTATION OF OFFER: (</label>
          <input  disabled type="text" name="" id="input-98"><span class="font-weight-bold">)</span>
          <label>Seller's Broker presented this offer to Seller on</label>
          <input  disabled type="date" name="" id="input-99">
          <label for="input-99">(date).</label>
        </div>
        <div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Broker or Designee Initials
        </div>
      </div>
      <br>
      <div class="border-dark-2">
        <div>
          <label class="font-weight-bold">REJECTION OF OFFER: (</label>
          <input  disabled type="text" name="" id="input-101" class="input-101"><span class="font-weight-bold">)</span>
          <span class="font-weight-bold">	(</span>
          <input  disabled type="text" name="" id="input-101" class="input-101"><span class="font-weight-bold">)</span>
          <label>No counter offer is being made. This offer was rejected by Seller on</label>
          <input  disabled type="date" name="" id="input-102">
          <label for="input-99">(date).</label>
        </div>
        <div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;
          Seller's Initials
        </div>
      </div>

      <br>
      <div class="California-Association ml-4">
        &#169;1991- 2018, California Association of REALTORS&#174;, Inc. United States copyright law (Title 17 U.S. Code)
        forbids the unauthorized distribution, display and reproduction of this
        form, or any portion thereof, by photocopy machine or any other means, including facsimile or computerized
        formats.
      </div>
      <div class="ml-4">
        THIS FORM HAS BEEN APPROVED BY THE CALIFORNIA ASSOCIATION OF REALTORS&#174; (C.A.R.). NO REPRESENTATION IS MADE AS
        TO THE LEGAL VALIDITY
        OR ACCURACY OF ANY PROVISION IN ANY SPECIFIC TRANSACTION. A REAL ESTATE BROKER IS THE PERSON QUALIFIED TO ADVISE
        ON REAL ESTATE
        TRANSACTIONS. IF YOU DESIRE LEGAL OR TAX ADVICE, CONSULT AN APPROPRIATE PROFESSIONAL.
      </div>
      <br>
      <div class="clearfix">
        <img src="assets/pdf2html/rebs-inc.png" width="70" height="90" class="rebs-inc">
        <div class="Published">
          <span class="font-size-16"> Published and Distributed by: </span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="font-size-16">Buyer Acknowledges that page 10 is part of this Agreement</span>
          &nbsp;&nbsp;
          (<input  disabled type="text" name="" class="large-input-100">)
          &nbsp;&nbsp;
          (<input  disabled type="text" name="" class="large-input-100">)
          REAL ESTATE BUSINESS SERVICES, INC.
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          Buyer's Initials
          <br>
          <div>a subsidiary of the CALIFORNIA ASSOCIATION OF REALTORS&#174;</div>
          <div>525 South Virgil Avenue, Los Angeles, California 90020</div>
        </div>
        <img src="assets/pdf2html/housing.png" width="70" height="60" class="housing">
      </div>

      <div class="font-weight-bold font-size-22">RPA-CA REVISED 12/18 (PAGE 10 of 10)</div>
      <div class="font-weight-bold text-center font-size-22">CALIFORNIA RESIDENTIAL PURCHASE AGREEMENT (RPA-CA PAGE 10 OF
        10)
      </div>

      <div style="display: none;" class="font-size-16 text-center ml-4">
        <span class="font-size-12"> Produced with zipForm&#174; by zipLogix 18070 Fifteen Mile Road, Fraser, Michigan 48026 www.zipLogix.com</span>
        David West
      </div>


    </form>
  </div>
</app-base-template>
