:host {
  color: rgba(0, 0, 0, 0.87);
}

input,
.input {
  padding-left: 20px;
  border:none;
  border-bottom: solid 1px black;
  font-weight: bold;
}

.input {
  width: 125px;
  display: inline-block;
}

.container {
  width:1300px;
  margin: 20px auto 0 auto;
}

a {
  color: black;
}

input[type=checkbox][disabled]{
  outline: 1px solid gray; // or whatever
}

.image {
  float: left;
}


.box {
  height: 100px;
  width: 900px;
  float: right;
  text-align: center;
  font-weight: bold;
  margin-right: 50px;
}

.box-div-1 {
  padding: 2px;
  font-size: 30px;
}

.box-div-2 {
  font-size: 20px;
}

form {
  margin-top: 20px;

}

.font-weight-bold {
  font-weight: bold;

}

.ml-4 {
  margin-left: 40px;
}

.large-input-1 {
  display: inline-block;
  width: 900px;
  /*margin: 0 20px;*/
}

.large-input-2 {
  display: inline-block;
  width: 700px;
  margin: 0 5px;
}

.large-input-8 {
  display: inline-block;
  width: 770px;
  margin: 0px;
}

.large-input-3 {
  display: inline-block;
  width: 1002px;
  margin: 0 20px;
}

.large-input-4 {
  display: inline-block;
  width: 900px;
}

.large-input-5 {
  display: inline-block;
  width: 650px;
}

.large-input-6 {
  display: inline-block;
  width: 600px;
  margin: 0 20px;
}

.large-input-number {
  display: inline-block;
  width: 80px;
}

.large-input-12 {
  display: inline-block;
  width: 600px;
}


.large-input-9 {
  display: inline-block;
  width: 800px;
}

.large-input-10 {
  display: inline-block;
  width: 400px;
}

.large-input-11 {
  display: inline-block;
  width: 300px;
}

.col-right {
  width: 220px;
  float: right;
}

.large-input-7 {
  width: 200px;
}

.col-left {
  width: 1040px;
  float: left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.col-right-initials {
  width:400px;
  float: right;
}

.col-left-initials {
  width: 900px;
  float: left;
}

.image-left {
  float: right;
}

.text-center {
  text-align: center;
}

.border-dark {
  border: solid 2px black;
  padding: 6px;
  font-size: 14px;
}

#input-width-1 {
  width: 120px;
}

#Buyer-1 {
  width: 80px;
}

#Buyer-2 {
  width: 80px;
}

#Seller-1 {
  width: 80px;
}

#Seller-2 {
  width: 80px;
}

/*the page 2 begin*/
.page-2 {
  margin-top: 100px;
}

#input-40 {
  display: inline-block;
  width: 890px;
}

#input-42 {
  display: inline-block;
  width: 400px;
}

.large-input-44 {
  display: inline-block;
  width: 975px;
}

.large-input-45 {
  display: inline-block;
  width: 1160px;
}

.col-left-page-10 {
  width: 200px;
  float: left;
}

.col-right-page-10 {
  width: 1100px;
  float: right;
}

.large-input-50 {
  display: inline-block;
  width: 80px;
}

.border-dark-2 {
  border: solid 2px black;
  padding: 6px;
}

.large-input-51 {
  display: inline-block;
  width: 750px;
}

.large-input-53 {
  display: inline-block;
  width: 680px;
}

.large-input-59 {
  display: inline-block;
  width: 450px;
}

.large-input-tel {
  display: inline-block;
  width: 300px;
}
.large-input-fax {
  display: inline-block;
  width: 350px;
}.large-input-email {
   display: inline-block;
   width: 400px;
 }

#input-82 {
  display: inline-block;
  width: 370px;
}

#input-83 {
  display: inline-block;
  width: 350px;
}

#input-85 {
  display: inline-block;
  width: 400px;
}

#input-86 {
  display: inline-block;
  width: 600px;
}

#input-87 {
  display: inline-block;
  width: 300px;
}

#input-88 {
  display: inline-block;
  width: 700px;
}

#input-89 {
  display: inline-block;
  width: 350px;
}

#input-90 {
  display: inline-block;
  width: 1000px;
}

#input-92 {
  display: inline-block;
  width: 1200px;
}

#input-93 {
  display: inline-block;
  width: 1120px;
}

#input-94 {
  display: inline-block;
  width: 860PX;
}

#input-98 {
  display: inline-block;
  width: 300px;
}
#input-99 {
  display: inline-block;
  width: 250px;
}

.input-101 {
  display: inline-block;
  width: 70px;
}
#input-102 {
  display: inline-block;
  width: 260px;
}

.California-Association {
  font-size: 16PX;
}

.rebs-inc {
  float: left;
}
.housing {
  float: right;
  margin-top: -60px;
}
.Published {
  width: 1160px;
}
.large-input-100 {
  display: inline-block;
  width: 100PX;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-12 {
  font-size: 12px;
}

.font-size-22 {
  font-size: 22px;
}


.mat-progress-bar {
  height: 25px;
}
