<div mat-dialog-title class="u-flex u-flex-justify--space-between u-flex-align-items--center">
  <div class="title">Addendum</div>
  <button mat-icon-button mat-dialog-close>
    <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
  </button>
</div>

<div mat-dialog-content class="form-container dialog-form">
  <form [formGroup]="form">
    <h4 class="header">Addendum information</h4>
    <ng-container *ngIf="!isConfirmMode">
      <div class="fieldset u-flex-1">
        <label>Addendum name</label>
        <input formControlName="addendumName" placeholder="Addendum name" spellcheck="false" class="form-control">
        <app-form-validation-error [baseControl]="form.get('addendumName')"></app-form-validation-error>
      </div>

      <div class="fieldset u-flex-1">
        <label>Terms</label>
        <textarea formControlName="terms" placeholder="Terms here" spellcheck="false" class="form-control"></textarea>
        <mat-hint *ngIf="termsControl.valid">
          Left {{2000 - termsControl.value.length}} of 2000 symbols.
        </mat-hint>
        <app-form-validation-error [baseControl]="termsControl"></app-form-validation-error>
      </div>
    </ng-container>

    <ng-container *ngIf="isConfirmMode">
      <div class="fieldset u-flex-1">
        <label>Addendum name</label>
        <input disabled
               formControlName="addendumName"
               placeholder="Addendum name"
               spellcheck="false"
               class="form-control">
        <app-form-validation-error [baseControl]="form.get('addendumName')"></app-form-validation-error>
      </div>

      <div class="fieldset u-flex-1">
        <label>Terms</label>
        <textarea disabled
                  formControlName="terms"
                  placeholder="Terms here"
                  spellcheck="false"
                  class="form-control">
        </textarea>
        <mat-hint *ngIf="termsControl.valid">
          Left {{2000 - termsControl.value.length}} of 2000 symbols.
        </mat-hint>
        <app-form-validation-error [baseControl]="termsControl"></app-form-validation-error>
      </div>
    </ng-container>

  </form>
</div>

<div *ngIf="!isConfirmMode" mat-dialog-actions class="fieldset u-flex u-flex-justify--end u-flex-align-items--center button-bar">
  <button
    mat-flat-button
    appDebounceClick
    (debounceClick)="isEdit ? update() : create()"
    color="primary"
    [disabled]="form.invalid"
  >{{ isEdit ? 'CONTINUE' : 'CREATE' }}</button>
</div>

<div *ngIf="isConfirmMode" mat-dialog-actions class="fieldset u-flex u-flex-justify--end u-flex-align-items--center button-bar">
  <button
    mat-stroked-button
    color="primary"
    (click)="isConfirmMode = false"
    [disabled]="!data.allowEdit"
  >BACK</button>

  <button
    mat-flat-button
    appDebounceClick
    (debounceClick)="finish()"
    color="primary"
    [disabled]="form.invalid"
  >{{ data.allowSign ? 'SIGN' : 'FINISH' }}</button>
</div>
