@import "../../../../shared-modules/dialogs/dialogs.template";
@import "../../../../feature-modules/auth/forms.template";

textarea {
  height: 157px;

  &.ng-invalid {
    border-color: #c85578;
  }
}

.mat-hint,
.mat-error {
  display: block;
  margin-top: -30px;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 11px;
}
